.admin_user_menu {
  z-index: 1000;
  position:fixed;
  bottom:0;
  left: 0%;
  background: #82db8a;
  padding: 1%;
  width: 17.098300562504%;
  }

.admin_user_menu .identification {
  display:block;
  padding: 5% 0;
  }

.admin_user .admin_user_nav {display:none;}
.admin_user:hover .admin_user_nav {display:block;}
.admin_user .admin_user_nav li {
  display:block;
  padding: 5% 0;

  }

.admin_flashes {
  z-index: 1001;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 110px;
  font-weight: normal;
  padding: 5%;
  background-color: #78f7d8;
  color: #fff;
  }

/* Login */

.login {
  width: 30%;
  padding: 2%;
  margin: 0 auto;
  border-style:none;
  }

.login fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
  }

.login label {
  font-size: 14px;
  display:block;
  padding: 1%;
  margin: 1.5% 1.5% 0%;
  }

.login .input_element input {
  width: 89%;
  padding: 2% 4% 2% 4%;
  margin: 0% 1.5% 1.5%;
  font-size: 22px;
  border-style:none;
  background-color: #f0f0f0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  transition: border-color 1s ease;
}

.login .input_element input:focus {
  outline: 0;
  border-bottom: 4px solid #d0d0d0;
  transition: border-color 1s ease;
}

div#forgot_password {
  text-align: right;
  margin: 0% 1.5% 1.5%;
  padding-top:2%;
}

div#forgot_password a {
  color: #237ab1;
}

.login .input.submit {
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  position: relative;
  vertical-align: top;
  width: 97%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(221, 119, 0, 0.5);
  background: #ffa53f;
  border: 0;
  cursor: pointer;
  margin: 5% 1.5% 1.5%;
  border-top: 2px solid #ffa53f;
  border-bottom: 4px solid #ffa53f;
  transition: border-color 1s ease;
}

.login .input.submit:focus, .login .input.submit:hover {
  outline: 0;
  border-bottom: 4px solid #dd7700;
  transition: border-color 1s ease;
}

.login .input.submit:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* msg class */
.msg_display {
  font-family: 'courier', 'monospaced';
  font-size: 12px;
  line-height: 20px;
  overflow: auto;
  background-color:rgba(50,50,50,1);
  color: #fff;
  }

.msg_display a {
  color: #fff;
  }

.msg_display .close {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  }

.msg_display .clear {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  }

.msg_display .stack {
  display:none;
  background-color:rgba(80,80,80,1);
  padding: 1.5%;
  color: #ffa;
  }

/* Styling for the Admin UI (not the Lime UI) */
div.admin_content {
  padding: 0 2% 0 0;
  position:fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 19.098300562504%;
  padding-top:20px;
  padding-bottom:40px;
  font-size:20px;
}

div.admin_ui li {
  list-style-type: square;
}

div.admin_ui ul {
  padding-left: 30px;
}

div.backlink {
  position:fixed;
  width: 15.098300562504%;
  left: 0%;
  top: 0;
  padding: 2% 2%;
  font-size:20px;
}

.danger {
  color:#f96625 !important;
}

.lime {
  margin: 0% 1.5% 1.5%;
  padding-bottom: 2%;
}

.lime h2 {
  color: #0b2231;
  font: 700 100px/1 "cardo";
  font-style: normal;
  text-indent: 0px;
  margin-bottom: 1.5%;
  z-index: 100;
  border-bottom: 4px solid #000;
}

.lime span {
  font: 400 20px/1.4 "cardo";
  font-style: italic;
  padding-left: 1.5%;
}

.madeby {
  font-size: 12px;
  text-align: center;
  position:fixed;
  bottom:0;
  width:100%;
  padding-bottom: 5%;
}

.login a, .madeby a {
  color: #237ab1;
}

