.admin_user_menu {
  z-index: 1000;
  position:fixed;
  bottom:0;
  left: 0%;
  background: #82db8a;
  padding: 1%;
  width: 17.098300562504%;
  }

.admin_user_menu .identification {
  display:block;
  padding: 5% 0;
  }

.admin_user .admin_user_nav {display:none;}
.admin_user:hover .admin_user_nav {display:block;}
.admin_user .admin_user_nav li {
  display:block;
  padding: 5% 0;

  }

.admin_flashes {
  z-index: 1001;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 110px;
  font-weight: normal;
  padding: 5%;
  background-color: #78f7d8;
  color: #fff;
  }

/* Login */

.login {
  width: 40%;
  padding: 2%;
  border-style:none;
  }

.login fieldset {
  border-style: none;
  }

.login label {
  font-size: 13px;
  display:block;
  padding: 1%;
  margin: 1.5% 1.5% 0%;
  }

.login .input_element input {
  width: 95%;
  padding: 1%;
  margin: 0% 1.5% 1.5%;
  font-size: 14px;
  border-style:none;
  background-color: #f0f0f0;
  }

.login .marquee {
  margin: 2.5% 0 2.5% 1.5%;
  width: 40%;
  background-color: #82db8a;
  position:relative;
  }

.login .marquee img {
  width:100%;
  display: block;
  }

.login .input.submit {
  cursor: pointer;
  float:left;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  font-family: 'Helvetica', 'Arial', 'san-serif';
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  background-color: transparent;
  border-style:none;
}

/* msg class */
.msg_display {
  font-family: 'courier', 'monospaced';
  font-size: 12px;
  line-height: 20px;
  overflow: auto;
  background-color:rgba(50,50,50,1);
  color: #fff;
  }

.msg_display a {
  color: #fff;
  }

.msg_display .close {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  }

.msg_display .clear {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  }

.msg_display .stack {
  display:none;
  background-color:rgba(80,80,80,1);
  padding: 1.5%;
  color: #ffa;
  }

/* Styling for the Admin UI (not the Lime UI) */
div.admin_content {
  padding-left:300px;
  padding-right:300px;
  padding-top:20px;
  padding-bottom:40px;
  font-size:20px;
}

div.admin_ui li {
  list-style-type: square;
}

div.admin_ui ul {
  padding-left: 20px;
}

div.admin_ui a {
  color: #237ab1;
}

div.backlink {
  position:fixed;
  left: 0%;
  top: 0;
  padding-top: 40px;
  padding-left: 40px;
  font-size:20px;
}

a.danger {
  color:#f96625 !important;
}
