{% from "_macros.html" import render %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/wiota/lime/lime_16_icon.png">

    {% block head %}

    <title>Lime Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/lime_base.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='css/lime_account.css') }}' type='text/css' media='all' />

    <script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/flash.js') }}'></script>

    {% endblock %}
  </head>

  <body>
    {% for message in get_flashed_messages() %}
    <div class='admin_flashes'>
      <div class='flash'>{{ message }}</div>
    </div>
    {% endfor %}

    <div id='path_panel'>
      {%- block user -%}
      {% if not current_user.is_anonymous() %}
        <ul class="user_nav">
          <li class='home'>
            <a href=" {{ url_for('root.index') }} "><img src='https://s3.amazonaws.com/wiota/lime/home.png'><span>Home</span></a>
          </li>
          <li class='account'>
            <a href=" {{ url_for('account.account') }} "><img src='https://s3.amazonaws.com/wiota/lime/account_face.png'><span>Account</span></a>
          </li>
          {% if current_user.admin %}
            <li class='admin'>
              <a href=" {{ url_for('admin.index') }} "><img src='https://s3.amazonaws.com/wiota/lime/admin.png'><span>Admin</span></a>
            </li>
          {% endif %}
          <li class='logout'><a href=" {{ url_for('root.logout') }} "><img src='https://s3.amazonaws.com/wiota/lime/logout.png'><span>Logout</span></a></li>
        </ul>
      {% endif %}
      {%- endblock -%}


    </div>

    <div id="admin_panel">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
