{% extends "admin_base.html" %}
{% block content %}
  <h2>Hold on there, friendo:</h2>
  You sure this is what you want do to? Delete lil' ol' <b>{{ user.email }}</b>? What'd <b>{{ user.email }}</b> ever do to you, huh? They're just sitting there quietly, taking up just a lil bit of space in the database. Maybe getting an email once or twice to their address, <b>{{ user.email }}</b>. They never did nothing to no one. And you just want to wipe them off the face of the map? With one click of a button? Who do you think you are? God? You think you can play God? Deciding who lives or dies?<br/>
  <br/>
  <form action="./confirm/" method="post" >
    <label for="email">Type the user's email address to confirm deletion:</label>
    <input type="text" name="email"/><br/><br/>
    <input type="submit" value="YES, DO IT ALREADY, I AM ADMIN!">
  </form>
  <br/>
  <a href="/admin/user/{{user.id}}/">Yeah, you're right, this is a bad idea.</a>
{% endblock %}

{% block admin_backlink %}
  <a href="/admin/user/{{user.id}}/">&lArr; Back to user page</a>
{% endblock %}
