{% extends "admin_base.html" %}
{% block content %}
  <h2>Current Users:</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% for user in users %}
  <ul>
    <li>
      <a href="./{{ user.id }}/"><b>{{user.email}}</b></a>
      {% if not user.confirmed %}
        <span class="danger">(Unconfirmed)</span>
      {% elif not user.registered %}
        <span class="danger">(Unregistered)</span>
      {% else %}
        (Confirmed &amp; Registered)
      {% endif %}
    </li>
  </ul>
  {% endfor %}
  <h2>Admins:</h2>
  {% for admin in admins %}
  <ul>
    <li><b>{{admin.email}}</b></li>
  </ul>
  {% endfor %}
{% endblock %}

{% block admin_backlink %}
  <a href="/admin/">&lArr; Back to main page</a>
{% endblock %}
