body {margin:0; padding: 0; font-size: 90%; font-family: 'Helvetica', 'Arial', 'san-serif';}

ul, ol {margin: 0; padding:0;list-style-type: none;}

a {text-decoration: none; color: #000;}

:focus {
  outline: 3px solid #cbdada;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(42, 44, 57, 0.80);
  -moz-box-shadow:    0px 0px 2px 0px rgba(42, 44, 57, 0.80);
  box-shadow:         0px 0px 2px 0px rgba(42, 44, 57, 0.80);

};

/*
Body:
  terra cotta: #dd7700
  apricot: #ff8800
  orange cream: #ffa53f
Request:
  meltdown: #00db14,
  jade: #82db8a
Form
  aluminum: #ebf4f4;
  lead: #cbdada;
shadow color  42,44,57

*/



#admin_nav a {
  display:block;
  float:left;
  margin: 0 0 0 .75%;
  padding: 5px .5%;
  background-color: #237ab1;
  color: #fff;
  }

/* Path Panel */

#path_panel {
  z-index: 3;
  width: 19.098300562504%;
  position:fixed;
  overflow: visible;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f6f7f7 url('https://s3.amazonaws.com/wiota/lime/4grid_light.png');
  -webkit-box-shadow: 0px 0px 3px 0px rgba(42, 44, 57, 0.80);
  -moz-box-shadow:    0px 0px 3px 0px rgba(42, 44, 57, 0.80);
  box-shadow:         0px 0px 3px 0px rgba(42, 44, 57, 0.80);
}

/* Listing Panel */

#listing_panel {
  z-index: 1;
  margin: 0 0;
  /* width: 61.803398875%; */width: 80.901699437496%;
  width: 48%;
  padding: 0 2% 0 0;
  position:fixed;
  overflow: visible;
  top: 0;
  left: 19.098300562504%;
  bottom: 0;
  }

/* Action Panel */

#action_panel {
  display:block;
  z-index: 2;
  background-color: #fff;
  overflow: visible;
  margin: 0;
  padding: 0 0 0 2%;
  width: 28.901699437496%;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  }

#request_panel {
  display:block;
  z-index: 5;
  background-color: transparent;
  overflow: visible;
  margin: 0;
  padding: 0 0 0 2%;
  position:fixed;
  top: 80%;
  right: 0;
  left: 19.098300562504%;
  bottom: 0;
}

/* -------------------------------------------------------------------  */
/* Path Panel */

.path .vertex {
  display:block;
  width: 50%;
  margin: 25% 25%;
  text-align: center;
  }

.path .icon {
  width: 100%;
  }

.path .label {
  font-weight: normal;
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  font-size: 16px;
  }

/* -------------------------------------------------------------------  */
/* Listing Panel */

/* Listing (one for each vertex) */

.listing {}
.category.listing {}
.tag.listing {}
.work.listing {}

/* Summary (one for each vertex) */

.summary {
  z-index: 100;
  position: relative;
  background-color: #f0f0f0;
  width: 95%;
  padding: 4% 1% 4% 4%;
  margin: 0;
  }

  .summary .title {
    font-size: 140%;
    }

.body.listing .summary {
  background-color: #ff8800;
  color: #fff;
  }

  .body.listing .summary .title {
    font-size: 180%;
  }

.category.listing .summary {
  background-color: #ff6;
  }

.tag.listing .summary {
  background-color: #8779ef;
  }
.work.listing .summary {
  background-color: #ddd;
}

.summary .add_work,
.summary .add_category,
.summary .add_work {

  }



/* Child List (one for each vertex) */

ol.succset_list {
  z-index: 110;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2% 0 1.5%;
  background-color: #fff;
  }

.category.listing .succset_list
.tag.listing .succset_list {}
.work.listing .succset_list {}

/* Child in set (one for each archtype that can be in a set) */

.succset_list li {
  position: relative;
  padding: 1% 1% 1% 4%;
  margin: 0 0 1.5% 0;
  height: 1em;
  }

.succset_list li a.in_set_link {
  display:block;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.succset_list li b.title {
  font-weight: normal;
}

.succset_list li:hover b.title {
  }

.succset_list li.body {
  background-color: #ff8800;
  }

.succset_list li.category {
  background-color: #ff6;
  }

.succset_list li.tag {}
.succset_list li.work {
  background-color: #fff;
  }


.succset_list li.photo {
  background-color: #fff;
  padding: 0;
  }


.succset_list li.photo img {
  display:block;
  max-width: 100%;
  }

.succset_list li.video {}

/* In Set Menus */

.in_set_menu {
  position:absolute;
  top:0;
  right: 0;
  text-align: right;
}

.in_set_menu a {
  display:inline-block;
  padding: 1% 3px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  font-size: 90%;
  background-color: rgba(255,255,255,1);
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  }

.succset_list li .in_set_menu a.drag_handle {
  z-index: 200;
  padding: 0% 5px 2%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(42,44,57,0.7);
  cursor: move;
  cursor: ns-resize;
}

.delete {
  color: #f00;
  }

.delete:hover {
  color: #900;
  }

.update {
  color: #f80;
  }

.update:hover {
  color: #930;
  }


/* Overlays */

.successorItem i.info_tag,
.summary i.info_tag {display:none;}
.successorItem:hover i.info_tag,
.summary:hover i.info_tag {display:none;}

i.info_tag {
  position: absolute;
  top: 0;
  left: 0;
  margin-left:100%;
  background-color: rgba(42, 44, 57, 0.9);
  color: #fff;
  padding: .5%;
  font-size: 14px;
  }

.outofsync {
  text-decoration: line-through;
}

/* -------------------------------------------------------------------  */
/* Action Panel */


#action_panel form {
  margin: 0 0 .2% 0;
  overflow: visible;
  }

#action_panel fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

#action_panel label {
  font-size: 11px;
  display:block;
  padding: 2%;
  margin: 1.5% 1.5% 0% 0;
  }

#action_panel .input {
  width: 93%;
  padding: 2%;
  margin: 0% 1.5% 1.5% 0;
  font-size: 14px;
  border-style:none;
  background-color: #ebf4f4;
  }

#action_panel .save_status {
  margin: 5% 0;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
}

#action_panel .input.save,
#action_panel .input.cancel,
#action_panel .input.close {
  border-style:none;
  cursor: pointer;
  float:left;
  width: 150px;
  padding: 1%;
  margin: 1.5% 1.5% 1.5% 0%;
  z-index: 500;
  font-family: 'Helvetica', 'Arial', 'san-serif';
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color, transform .5s ease-in-out;
  -webkit-transition: background-color, transform .5s ease-in-out;
  -moz-transition: background-color, transform .5s ease-in-out;
  -o-transition: background-color, transform .5s ease-in-out;

}

#action_panel .input.save {
  color: #fff;
  background-color: #82db8a;
}

#action_panel .input.save.unsaved:hover {
  background-color: #00db14;
}

#action_panel .input.save.unpersisted {display:none;visibility: hidden;}
#action_panel .input.save.unsaved {background-color: #82db8a;}
#action_panel .input.save.saving {background-color: #00db14;cursor: wait;}
#action_panel .input.save.saved {color: #b4c1c1; outline: 1px dotted #b4c1c1; background-color: #fff;cursor: auto;
  transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  }

#action_panel .input.cancel,
#action_panel .input.close {
  color: #333;
  background-color: #ebf4f4;
}

#action_panel .input.cancel:hover,
#action_panel .input.close:hover {
  background-color: #b4c1c1;
  }

#action_panel .input.save.error {background-color: #f00;}


/* File Upload */

#action_panel .file_upload {
  width: 95%;
  padding: 1% 1% 30%;
  margin: 0%;
  position:relative;
}

#action_panel .files_container {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  border: 1px dashed #999;
  margin: 0 0 1.5%;
  padding: 1%;
}

#action_panel .vertex.photo.form .files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

#action_panel .file_upload.over .files_container {
  border-style: solid;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(42, 44, 57, 0.3);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(42, 44, 57, 0.3);
  box-shadow: inset 0px 0px 8px 0px rgba(42, 44, 57, 0.3);
}

#action_panel .many_works .files_container {
  background: #fff;
}

#action_panel .many_categories .files_container {
  background: #ff6;
}

#action_panel .many_photos .files_container {
  background: #A3AFAF;
  color: #fff;
}

#action_panel .files_container .message {
  font-size: 20px;
  font-style: normal;
  color: #000;
  position:relative;
}

#action_panel .over .files_container .message {
  top: 1px;
  left: 1px;
}

#action_panel .file_upload input {
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  display: none;
  font-size: 14px;
  font-family: Helvetica, Arial, 'san-serif';
}

/* Batch */

#action_panel .batch {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  padding: 1% 1% 1%;
  margin: 1.5% 1.5% 1.5%;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  }

#action_panel .batch.work {
  background: url('http://s3.amazonaws.com/wiota/lime/work_up_back.png');
  }

#action_panel .batch.category {
  background: url('http://s3.amazonaws.com/wiota/lime/work_up_back.png');
  }

#action_panel .batch .batch_count {
  font-size: 24px;
  color: rgba(42, 44, 57, .9);
  opacity: 1;
  display:block;
  padding: 2%;
  text-align: center;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: all .5s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  }

#action_panel .batch:hover .batch_count {
    opacity: 1;
}

#action_panel .batch_item {
  width: 98%;
  height: 20px;
  padding: 1% 1% 1%;
  margin: 1% 0 0;
  font-size: 14px;
  background-color: rgba(42, 44, 57, 0.2);
  color: #fff;
  position:relative;
  }

#action_panel .batch_item.uploaded {
  background-color: rgba(255,255,255,0);
  color: #000;
  }

#action_panel .batch_item.error {
  background-color: #f96625;
  color: #a51000;
  }

/* Batch Creating Edges */

#action_panel .batch_item .label {
  padding: .5% 1%;
  z-index:100;
  }


#action_panel .batch_item .cancel {
  position:relative;
  z-index: 101;
  cursor: pointer;
  display:inline-block;
  padding: .5% 3%;
  }

#action_panel .batch_item.error .cancel {

  }

/* Progres Bar Fill */

#action_panel .progress_bar_fill {
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 0%;
}
