/* -------------------------------------------------------------------  */
/* Path Panel */
/* -------------------------------------------------------------------  */

#path_panel {
  /* navigation column - lime_base.css */
  }


/* -------------------------------------------------------------------  */
/* Request Panel */
/* -------------------------------------------------------------------  */

#request_panel {
  display:none;
  background-color: #cfc;
}

/* -------------------------------------------------------------------  */
/* Listing Panel */
/* -------------------------------------------------------------------  */

#listing_panel {
  z-index: 5;
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* display column - lime_base.css */
  }


/* -------------------------------------------------------------------  */
/* Action Panel */
/* -------------------------------------------------------------------  */

#action_panel {

  background: url('https://s3.amazonaws.com/wiota/lime/bricks_lowc_limegrey.png') #fff;
  z-index: 6;
  overflow: auto;
  margin: 0;
  padding: 0 0% 0 4%;
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all .2s ease-in-out;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  }

#action_panel.show {
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* -------------------------------------------------------------------  */
/* Path Panel */
/* -------------------------------------------------------------------  */


.path .vertex.link a {
  display:block;
  cursor: pointer;
  padding: 2% 0 2% 16%;
}

/* Succset form ------------------------------------- */

form.succset {
  z-index: 210;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0%;
  margin: 0%;
  background-color: rgba(255,255,255,0.5);
}

form.succset .files_container {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  border-style: none;
  margin: 0;
  padding: 1%;
}

form.succset .over .files_container {
  border: 5px dotted #a3afaf;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
  box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
}

form.succset .vertex.photo.form .files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

form.succset .file_upload.over .files_container {
}

form.succset .files_container .message {
  font-size: 20px;
  font-style: normal;
  color: #000;
  position:relative;
}

form.succset .over .files_container .message {
  top: 1px;
  left: 1px;
}

form.succset .file_upload input {
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  display: none;
  font-size: 14px;
  font-family: Helvetica, Arial, 'san-serif';
}



/* -------------------------------------------------------------------  */
/* Action Panel */
/* -------------------------------------------------------------------  */

#action_panel {
  perspective: 5000px;
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -o-perspective: 5000px;
}

#action_panel .input:focus {
  outline: none;
  border-top: 1px dotted #d8e8e8;
}

#action_panel form {
  margin: 0;
  overflow: visible;
  }


#action_panel label {
  font-size: 11px;
  }

#action_panel .input {
  transition: all .3s ease;
  border-style:none;
  padding: 1%;
  border-top: 1px solid #d8e8e8;
  font-size: 16px;
  }

#action_panel textarea {
  height: 10em;
}

#action_panel label.title {
  display:none;
  }

#action_panel .input#title {
  border-top: none;
  padding: 1% 0;
  font-size: 34px;
  background-color: transparent;
  }

#action_panel .god_attributes {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2%;
  width: 10%;
  color: #f00;
}

#action_panel .god_attributes input[type=checkbox] {
  margin: 2%;
}
#action_panel .save_view {
  width: 500px;
}

/* Buttons */

#action_panel .input.button {
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  position:relative;
  font-weight: normal;
  cursor: pointer;
  border-style:none;
  text-align: center;
  padding: 1.5% 0;
  margin: 0 0 1.5% 0%;
  width: 250px;
  }

#action_panel .input.save {
  z-index: 500;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

#action_panel .input.cancel,
#action_panel .input.close {
  z-index: 501;
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transform:translateX(0) rotateY(0deg);
  -webkit-transform:translateX(0) rotateY(0deg);
  -moz-transform:translateX(0) rotateY(0deg);
  -o-transform:translateX(0) rotateY(0deg);
}

#action_panel .input.save {
  color: #82db8a;
  background-color: #fff;
}

#action_panel .unsaved .input.save:hover {
  background-color: #82db8a; color: #fff;
}

#action_panel .unsaved .input.save {background-color: #fff;}
#action_panel .saving .input.save {background-color: #82db8a; color: #fff;cursor: wait;}
#action_panel .saved .input.save,
#action_panel .unpersisted .input.save {color: #fff; background-color: #b4c1c1;cursor: auto;
  transform:translateX(0) rotateY(180deg);
  -webkit-transform:translateX(0) rotateY(180deg);
  -moz-transform:translateX(0) rotateY(180deg);
  -o-transform:translateX(0) rotateY(180deg);
  }
#action_panel .error .input.save {background-color: #f00; color: #fff;}


#action_panel .input.cancel,
#action_panel .input.close {
  color: #000;
  background-color: #fff;
}

#action_panel .input.cancel:hover,
#action_panel .input.close:hover {
  background-color: #82db8a;
  color: #fff;
  }

#action_panel .cover_display {
  position: relative;
  width: 250px;
}

#action_panel .cover_display img {
  display:block;
  max-width: 100%;
}

#action_panel .input.remove_cover {
  display:block;
  position:absolute;
  top: 0;
  right: 0;
  background-color: #f00;
  color: #fff;
}

/* File Upload */

#action_panel .file_upload {
  width: 250px;
  padding: 0% 0% 30%;
  margin: 0%;
  position:relative;
}

#action_panel .files_container {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  border: 5px dotted #a3afaf;
  margin: 0 0 1.5%;
  padding: 1%;
}

#action_panel .vertex.photo.form .files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

#action_panel .file_upload.over .files_container {
  border: 1px solid #a3afaf;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
  box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
}

#action_panel .files_container .message {
  font-size: 20px;
  font-style: normal;
  color: #000;
  position:relative;
}

#action_panel .over .files_container .message {
  top: 1px;
  left: 1px;
}

#action_panel .file_upload input {
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  display: none;
  font-size: 14px;
  font-family: Helvetica, Arial, 'san-serif';
}

/* Batch */

#action_panel .batch {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  padding: 1% 1% 1%;
  margin: 1.5% 1.5% 1.5%;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  }

#action_panel .batch .batch_count {
  font-size: 24px;
  color: rgba(42, 44, 57, .9);
  opacity: 1;
  display:block;
  padding: 2%;
  text-align: center;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: all .5s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  }

#action_panel .batch:hover .batch_count {
    opacity: 1;
}

#action_panel .batch_item {
  width: 98%;
  height: 20px;
  padding: 1% 1% 1%;
  margin: 1% 0 0;
  font-size: 14px;
  background-color: rgba(42, 44, 57, 0.2);
  color: #fff;
  position:relative;
  }

#action_panel .batch_item.uploaded {
  background-color: rgba(255,255,255,0);
  color: #000;
  }

#action_panel .batch_item.error {
  background-color: #f96625;
  color: #a51000;
  }

/* Batch Creating Edges */

#action_panel .batch_item .label {
  padding: .5% 1%;
  z-index:100;
  }


#action_panel .batch_item .cancel {
  position:relative;
  z-index: 101;
  cursor: pointer;
  display:inline-block;
  padding: .5% 3%;
  }

#action_panel .batch_item.error .cancel {

  }

/* Progres Bar Fill */

#action_panel .progress_bar_fill {
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 0%;
}

/* -------------------------------------------------------------------  */
/* Request Panel Mountains */

#request_panel div.mountain_view {
  width: 100000px;
}

div.mountain_view div.requestlog {
  text-align: left;
  float:left;
  font-size: 10px;
  font-family: "Monaco","Lucida Console","Courier New", "`space";
}

div.mountain_view div.requestlog a {
  display:block;
  width: 2px;
  height: 2px;
  border-width: 1px 0;
  background-color: #838d8d;
  position: relative;
}

div.mountain_view div.requestlog a span.args {
  display:none;
  position:absolute;
  top: 0;
  left: 14px;
  font-size: 12px;
  width: 550px;
}

div.mountain_view div.requestlog a:hover span.args {
  display:block;
  }

div.mountain_view div.requestlog a span {
  display:none;
}

div.mountain_view div.requestlog a.created {
  background-color:#ffff00;
}

div.mountain_view div.requestlog a.registered {

}


div.mountain_view a.executing {
  background-color:#82db8a;
}

div.mountain_view a.delayed {
  background-color:#ffa53f;
}

div.mountain_view a.error {
  background-color:#ff0000;
}

div.mountain_view a.delay {
  background-color:#ffa53f;
}

div.mountain_view a.complete {
  background-color:#7ef20c;
}

div.mountain_view a.unregistered {
  background-color:#fff;
}

#request_panel div.requestlog {
  display:block;
  float: left;
}

#request_panel a {
  display:block;
  padding: 1%;
  background-color:#82db8a;


}
