/* -------------------------------------------------------------------  */
/* Listing Panel */
/* -------------------------------------------------------------------  */

#succset, #predset {
  perspective: 5000px;
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -o-perspective: 5000px;
  overflow: hidden;
}

/* ---- */

.ui a {
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

/* Menus ------------------------------------- */

.menu {
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
    user-select: none;
}

.menu a {
  cursor: pointer;
}

.menu .label {
  font-weight: bold;
}

.menu .icon {
  display:block;
  float:left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 2px 9px 0 0;
}

/* View Menu -------------------------------- */

.view_menu {
  position: absolute;
  margin: 0;
  padding: 0;
  top:0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 31px;
}

.view_menu .menu {
  display:block;
  float:left;
  margin: 0 0 0 10px;
  position: relative;
}

.view_menu .menu:hover {
  z-index: 201;
}

.view_menu .menu a {
  color: #222;
  background-color: #fff;
}

.view_menu .menu b {
  height: 16px;
}

/* switch */

.view_menu a.switch {
  display:block;
  width: 32px;
  height: 19px;
  padding: 6px 10px 6px;
  border-color: #c4cbcb;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.view_menu a.switch .icon {
  display:none;
}

/* sub */

.view_menu ul {
  position:absolute;
  margin-top: -2px;
  margin-left: 0;
  overflow: auto;
  opacity: 1;
  background: #fff;
  -webkit-transition: margin .2s ease-out, box-shadow .2s ease-out;
  -moz-transition: margin .2s ease-out, box-shadow .2s ease-out;
  transition: margin .2s ease-out, box-shadow .2s ease-out;
}

.view_menu .menu:hover ul {
  border: 1px solid #c4cbcb;
  padding: 0;
  margin-top:-1px;
  margin-left: 0;
  -webkit-box-shadow: 5px 5px 50px 0 rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 50px 0 rgba(100,100,100, .3);
  box-shadow:         5px 5px 50px 0 rgba(100,100,100, .3);
}

.view_menu li a {
  display:block;
  overflow: hidden;
  text-align: left;
  width: 200px;
  height: 0;
  padding: 0 12px;
  border-width: 0;
  -webkit-transition: padding-left .2s ease-out,padding-right .2s ease-out;
  -moz-transition: padding-left .2s ease-out,padding-right .2s ease-out;
  transition: padding-left .2s ease-out,padding-right .2s ease-out;
}

.view_menu .menu:hover li a {
  padding: 12px;
  height: 19px;
  opacity: 1;
}

.view_menu .menu li.selected a {
  padding-left: 24px;
  padding-right: 0px;
  z-index: 100;
  background: url('https://s3.amazonaws.com/wiota/lime/bricks_lowc_limegrey.png') #efecdc;
}

/* Mode Menu Colors ------------- */

.view_menu .mode .icon {
  display:none;
}

.view_menu .mode a.add_mode,
.view_menu .mode li.selected a.add_mode {
  color: #fff;
  background: #3abef3;
}

.view_menu .mode a.sort_mode,
.view_menu .mode li.selected a.sort_mode {
  color: #222;
  background: #fdfb75;
  /*background-color: #0ee0e7;*/
}

.view_menu .mode a.order_mode,
.view_menu .mode li.selected a.order_mode {
  color: #222;
  background: #ffffff;
}

.view_menu .mode a.remove_mode,
.view_menu .mode li.selected a.remove_mode {
  color: #fff;
  background: #f00;
}


/* Vertex ------------------------------------- */

.vertex {
  -webkit-transition: opacity .4s, transform .4s ease-out;
  -moz-transition: opacity .4s, transform .4s ease-out;
  transition: opacity .4s, transform .4s ease-out;
}

/* Upload */
.vertex .upload_container {
  display:block;
  width: auto;
  max-width: 300px;
  background-color: transparent;
  height: 16px;
  border: 1px solid #5e5e5e;
  border-radius: 4px;
  padding: 0 2px;
  overflow: hidden;

}

.vertex .upload_container .upload_fill {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  display:block;
  margin:2px 0;
  height: 12px;
  color: #000;
  background-color: #3abef3;
  position:relative;
}

.vertex .upload_container .upload_fill.error {
  background-color: #ea8328;
}

/* Set ----------------------------------------- */

.set {
  -webkit-transition: opacity .3s, background-color .3s ease-out;
  -moz-transition: opacity .3s, background-color .3s ease-out;
  transition: opacity .3s, background-color .3s ease-out;
}

/* Listing ------------------------------------- */

.listing {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* Empty ------------------------------------- */

.empty_succset {
  padding: 0;
  font-style: italic;
  font-size: 110%;
  padding: 135px 0 100px;
  margin: 0 0 0 2%;
}
  .empty_succset h2 {
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 0 10px;
  }
  .empty_succset p {
    margin: 0;
    padding: 10px 0;
  }

  .empty_succset .drag,
  .empty_succset .add {
    display:inline-block;
    margin: 0 0 5px;
    width: 100px;
    text-align: right;
  }

  .empty_succset .drag {
    background-color: #f5f8f8;
    border: 3px dotted #ccd5d5;
    padding: 2px;
  }

  .empty_succset .add {
    background-color: #3abef3;
    color: #fff;
    height: 100px;
    padding: 5px;
  }

/* Listing */

.set {
  z-index: 110;
  width: 100%;
  margin: 0;
  position:relative;
  padding: 135px 0 100px;
  overflow: auto;
}

.set li {
  position: relative;
}

  .set li.dragged {
    position:absolute;
    z-index: 30;
  }

  body.dragging, body.dragging li {
    cursor: move !important;
  }

  /* Cover */

  .set li.with_cover .cover {
    padding: 0 10px 10px 0;
  }

  .set li.with_cover .cover img {
    width: 100%;
    display: block;

    -webkit-transition: all .3s ease, -webkit-transform .1s ease;
    -moz-transition: all .3s ease, -moz-transform .1s ease;
    transition: all .3s ease, transform .1s ease;

    -webkit-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
    -moz-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
    box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
  }

  .set li.with_cover.dragged .cover img {

    display: block;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
    -moz-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
    box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
  }

  .set li.dragged.without_cover .attributes {
  }

  .set li.with_cover .attributes .attribute {
  }

.set li .attributes .icon {
  width: 16px;
  height:16px;
  padding: 4px 0;
  margin-right: 4px;
  float:left;
}

  .set li.with_cover .icon {
    padding: 4px;
  }

.set .attributes {
  transition: all .5s;
}

.set .attributes .attribute {
  display:block;
  font-weight: normal;
  padding: 4px;
  font-size: 10px;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.set .attribute.primary {
  font-size: 16px;
}

.set .attribute.secondary {
  font-size: 12px;
}

.set .attribute img {
  display:block;
  max-width: 100%;
}

/* List View ------------------------------------- */

.list_view .set {}

.list_view .set li {
  width: auto;
  margin: 0 10px 10px 20px;
  padding: 10px 0 0;
  font-size: 16px;
  border-top: 1px solid #e3e9ea;
  min-height: 1em;
  clear:both;
  overflow: hidden;
}

  .list_view .set li.dragged {
    border-top: none;
    background-color: transparent;
  }


  .list_view .set li .attributes {
    max-width: 600px;
  }

  .list_view .set li.with_cover .cover {
    width: 64px;
    float:left;
  }

  .list_view .set li.with_cover .attributes {
    width: auto;
    margin-left: 84px;
  }

  .set .attributes img {
    display:block;
    max-width: 128px;
  }

/* Grid View ------------------------------------- */

.grid_view .set {
  margin-left: 20px;
}

.grid_view .set li {
  width: 160px;
  height: 160px;
  padding: 0 15px 15px 0;
  display: block; /* Inline-block causes cover animation to fail */
  float:left;
  font-size: 16px;
  overflow: hidden;
}

  .grid_view .set li.dragged {
    border-top: none;
    background-color: transparent;
  }

  .grid_view .set li.photo img {
    display:block;
    max-width: 100%;
    /* How do I make the image fit in the box? */
  }

  /* Overlapping attributes */
.grid_view .set li .attributes {
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

  .grid_view .set li.with_cover .attributes {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    margin: 4%;
    padding: 0;
    width: auto;
    color: #000;
    overflow: hidden;
  }

  .grid_view .set li .attributes .icon {
    width: 16px;
    height:16px;
    padding: 4px;
    margin-right: 4px;
    float:left;
  }

/* ui ------------------------------------- */

.set .ui {
  z-index: 21;
}

  .set .ui a {

  }

  .set .dragged .ui {
    display:none;
  }

  .set a.get {
    display:block;
    position:absolute;
    z-index: 20;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .set a.delete {
    position:absolute;
    z-index: 21;
    top:10px;
    right: 0;
    display:block;
    padding: 5px 5%;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform:translateX(1px) rotateY(-180deg);
    -webkit-transform:translateX(1px) rotateY(-180deg);
    -moz-transform:translateX(1px) rotateY(-180deg);
    /* visibility: hidden; */
    opacity: 1;
  }

  .set .delete {
    background-color: #f00;
    color: #fff;
    }

  .set .delete:hover {
    background-color: rgba(255,255,255,1);
    color: #f00;
    }

  .remove_mode .set li a.delete {
    width: 50px;
    visibility: visible;
    opacity: 1;
    transform:translateX(0) rotateY(0deg);
    -webkit-transform:translateX(0) rotateY(0deg);
    -moz-transform:translateX(0) rotateY(0deg);
  }

  .set .ui a.drag_handle {
    display:none;
    visibility:hidden;
    opacity: 0;
  }

  .reorder_mode .set a.drag_handle {
    color: #000;
    background-color: #f5e135;
    font-size: 26px;
    text-decoration: none;
    visibility:visible;
    opacity: 1;
    display: block;
  }

  .set .ui .update {
    display:none;
  }

  .set .ui .set_cover {
    display:none;
  }

/* Summary - Focus ------------------------------------- */

#focus {
  margin-top: 41px;
}

.summary {
  z-index: 120;
  position: relative;
  background-color: transparent;
  margin: 0 5% 5%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  }

  .form_open .summary {
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    transform: translateX(110%);
  }

  .summary .attributes {
    padding: 10px 0;
  }

  .summary .attributes:hover {
    cursor: text;
  }

  .summary .attributes .icon {
    width: 32px;
    height:32px;
    padding: 4px 0;
    margin-right: 4px;
    float:left;
    }

  .summary .attributes .attribute {
    display:block;
    font-weight: normal;
    padding: 4px 0;
    font-size: 10px;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .summary .attributes .attribute.primary {
    font-size: 20px;
    text-overflow: ellipsis;
    }

  .summary .attribute.secondary {
    font-size: 14px;
    clear:both;
  }

  .summary .cover {width: 100%;}
  .summary .cover img {width: 100%;}

  /* ui */

  .summary .ui {
    clear: both;
    opacity: 1;
    position:absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    }

    .summary:hover .ui {
      opacity: 1;
    }

    .summary .ui a {
      color: #000;
      background-color:rgba(255,255,255,1);
      height: 24px;
      display:block;
      float:left;
      clear:both;
      padding: 4px 4px 4px 0;
      margin: 4px 4px 0 0;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
    }

    .summary .ui a .icon {
      height: 24px;
      width: 24px;
      float:left;
    }

    .summary .ui a .label {
      padding: 4px 10px 0;
      font-weight: normal;
      line-height: 24px;
      display:none;
    }

    .summary:hover .ui a .label {
      padding: 4px 10px 0;
      font-weight: normal;
      line-height: 24px;
      display:inline;
    }

    .summary .ui a:hover {
      -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
      -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
      box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
    }

    /* space for set cover button to sit if there is no cover photo */
    .summary .cover {
      min-height: 72px;
    }

    .summary .set_cover,
    .summary .update {
      display:block;
      width: 24px;
      color: #000;
    }

    .summary:hover .ui .set_cover,
    .summary:hover .ui .update {
      width: auto;
    }

    .summary .ui a.get {
      display:none;
    }

    .summary .ui a.delete {
      display:none;
    }

    .summary .ui a.drag_handle {
      display:none;
    }



