#listing_panel {
  perspective: 5000px;
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -o-perspective: 5000px;
}

/* Listing Menus ------------------------------------- */
/* Vertical ------------------------------------- */

.vertical.listing_menu {
  position:fixed;
  margin: 0;
  top:0;
  right: 0px;
  z-index: 200;
}

.vertical.listing_menu .active {
  position: relative;
}

.vertical.listing_menu a.switch {
  display: block;
  width: 48px;
  height: 18px;
  padding: 15px 0;
  background-color: #ccc;
}

.vertical.listing_menu:hover a.switch {
  opacity: .3;
}

.vertical.listing_menu .open a.switch {
  opacity: 1;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
}


.vertical.listing_menu ul {
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top:0;
  opacity: 0;
  width: 200px;
  right: 48px;
  pointer-events:none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform:translateX(0) rotateY(-180deg);
  -webkit-transform:translateX(0) rotateY(-180deg);
  -moz-transform:translateX(0) rotateY(-180deg);
}

.vertical.listing_menu .open ul {
  pointer-events:auto;
  opacity: 1;
  visibility: visible;
  transform:translateX(0) rotateY(0deg);
  -webkit-transform:translateX(0) rotateY(0deg);
  -moz-transform:translateX(0) rotateY(0deg);
}

.vertical.listing_menu li {
  background-color: #ddd;
}

.vertical.listing_menu a {
  display:block;
  text-align: center;
  height: 18px;
  padding: 15px 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.vertical.listing_menu .selected a {
  background: #555;
  color: #fff;
}

.vertical.listing_menu ul:hover li {
  visibility: visible;
}

.vertical.listing_menu ul li.selected {
  -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
}



.vertical.listing_menu  a.add_mode {
  background-color: #31c8fd;
  color: #fff;
}

.vertical.listing_menu  a.remove_mode {
  background-color: #f00;
  color: #fff;
}

.vertical.listing_menu  a.reorder_mode {
  color: #000;
  background-color: #f5e135;
}


/* Sortable ------------------------------------- */

body.dragging, body.dragging * {
  cursor: move !important;
}

/* All View ------------------------------------- */

.succset_list {
  z-index: 110;
  width: 100%;
  margin: 0;
  padding: 0 0 100px;
  position:relative;
}

.succset_list li {
  position: relative;
}

  .succset_list li.dragged {
    position:absolute;
    z-index: 30;
  }

.succset_list li a.in_set_link {
  display:block;
  position:absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

  /* Cover */

  .succset_list li.with_cover .cover {
    width: 100%;
    margin: 0 10px 10px 0;
  }

  .succset_list li.with_cover .cover img {
    width: 100%;
    display: block;

    -webkit-transition: all .3s ease, -webkit-transform .1s ease;
    -moz-transition: all .3s ease, -moz-transform .1s ease;
    transition: all .3s ease, transform .1s ease;

    -webkit-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
    -moz-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
    box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
  }

  .succset_list li.with_cover.dragged .cover img {
    width: 100%;
    display: block;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
    -moz-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
    box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
  }

.succset_list li .attributes {
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

  .succset_list li.with_cover .attributes {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 18px;
    right: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 4%;
    padding: 0;
    width: 92%;
    color: #000;
    background-color: transparent;
  }

  .succset_list li.dragged .attributes {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .succset_list li.dragged.without_cover .attributes {
    -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
    -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
    box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
  }

.succset_list li .attributes b {
  display:block;
  font-size: 10px;
  font-weight: normal;
  padding: 4px;
  line-height: 1.3em;
}

  .succset_list li.with_cover .attributes b {
    background-color: #fff;
  }

.succset_list li .attributes .icon {
  width: 16px;
  height:16px;
  padding: 4px 0;
  margin-right: 4px;
  float:left;
}

  .succset_list li.with_cover .icon {
    padding: 4px;
    background-color: rgba(255,255,255,1);
  }

.succset_list li b.title,
.succset_list li b.primary {
  font-size: 16px;
  font-weight: normal;
  display:block;
}

  .succset_list li:hover b.title {
  }

.succset_list li.category {
  }


.succset_list li.photo img {
  display:block;
  max-width: 100%;
  }

/* List View ------------------------------------- */

.list_view .succset_list {}

.list_view .succset_list li {
  width: 25%;
  margin: 8px;
  padding: 0 0 8px;
  font-size: 16px;
  border-bottom: 1px solid #e3e9ea;
  background-color: #fff;
  min-height: 1em;
}

  .list_view .succset_list li.dragged {
    border-bottom: none;
    background-color: transparent;
  }

/* Grid View ------------------------------------- */

.grid_view .succset_list {}

.grid_view .succset_list li {
  width: 20%;
  height: 0;
  padding: 0 0 20%;
  float:left;
  margin: 8px 0 0 8px;
  font-size: 16px;
  border: 1px solid #e3e9ea;
  background-color: #fff;
  overflow: hidden;
}

  .grid_view .succset_list li.dragged {
    border-bottom: none;
    background-color: transparent;
  }

.grid_view .succset_list li.photo img {
  display:block;
  max-width: 100%;
  max-height: 100%;
  }

  .grid_view .succset_list li .attributes .icon {
  width: 16px;
  height:16px;
  padding: 4px;
  margin-right: 4px;
  float:none;
}

/* In Set Menus ------------------------------------- */

.in_set_menu {
  position:absolute;
  top:0;
  right: 0;
  text-align: right;
  padding: 1%;
  z-index: 21;
}

  .in_set_menu a {
    display: inline-block;
    padding: 5px;
  }
  .succset_list li.dragged .in_set_menu {
    display:none;
  }


/* Summary - needs cleaning up ------------------------------------- */

.summary a,
.successorItem a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  font-size: 90%;
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  }

.summary a {
  display:block;
  margin: 3% 0;
  padding: 1% 3px;
}

.successorItem a {
  display:inline-block;
}

.successorItem a.drag_handle {
  display:none;
  visibility:hidden;
  opacity: 0;
}

.reorder_mode.off .successorItem a.drag_handle {
  color: #000;
  background-color: #f5e135;
  font-size: 26px;
  text-decoration: none;
  visibility:visible;
  opacity: 1;
  display: block;
}

.summary .meta {
  border-bottom: 1px solid #f5f8f8;
}

.summary .add_menu a img {
  float:left;
  margin: 0 4px 0 0;
  width: 16px;
  height: 16px;
}

li .delete {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  width:0;
  padding-left:0;
  padding-right:0;
  visibility:hidden;
  opacity: 0;
}

.remove_mode li .delete {
  width:50px;
  padding-left:5px;
  padding-right:5px;
  visibility:visible;
  opacity: 1;
}

.delete {
  background-color: #f00;
  color: #fff;
  }

.delete:hover {
  background-color: rgba(255,255,255,1);
  color: #f00;

  }

.update {
  color: #78F7D8;
  }

.update:hover {
  background-color: #78F7D8;
  color: #fff;
  }
