/* -------------------------------------------------------------------  */
/* Apex Menu */
/* -------------------------------------------------------------------  */

.home_menu {
  padding: 2%;
  font-size: 60px;
}

.home_menu li {
  padding: 1%;
  clear:left;
}
  .home_menu li .icon {
    display:block;
    float:left;
    width: 10%;
    margin: 0% 3% 0% 0%;
  }

/* -------------------------------------------------------------------  */
/* Path Panel */
/* -------------------------------------------------------------------  */

#path_panel {
  /* navigation column - lime_base.css */
  }


/* -------------------------------------------------------------------  */
/* Request Panel */
/* -------------------------------------------------------------------  */

#request_panel {
  display:none;
  background-color: #cfc;
}

/* -------------------------------------------------------------------  */
/* Listing Panel */
/* -------------------------------------------------------------------  */

#listing_panel {
  /* display column - lime_base.css */
  }


/* -------------------------------------------------------------------  */
/* Action Panel */
/* -------------------------------------------------------------------  */

#action_panel {
  background: #f6f7f7 url('https://s3.amazonaws.com/wiota/lime/4grid_light.png');
  background-color: #fff;
  z-index: 6;
  overflow: auto;
  margin: 0;
  padding: 0 0% 0 2%;
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100%;

  }

/* -------------------------------------------------------------------  */
/* Path Panel */
/* -------------------------------------------------------------------  */



.path .vertex {
  padding: 1% 5%;
}


/* Summary (one for each vertex) */


.summary {
  z-index: 120;
  position: relative;
  background-color: #fff;
  padding: 5%;
  margin: 0;
  }

  .summary .icon {
    width:18%;
    float:left;
    margin: 0 3% 3% 0;
    }
  .summary .title {
    font-size: 180%;
    }
  .summary .meta {
    clear: both;
  }

  .summary .cover {width: 100%;}
  .summary .cover img {width: 100%;}

.summary.body {
  color: #000;
  }

  .summary.body .title {
  }

.summary.category {
  background-color: #fff;
  }

.summary.happenings {
  background-color: #a1f7d3;
}

.summary.tag {
  background-color: #8779ef;
  }
.summary.work {
  background-color: #d8e8e8;
}

/* -------------------------------------------------------------------  */
/* Listing Panel */
/* -------------------------------------------------------------------  */

.listing {
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  max-width: 100%;
  padding: 0 10px 0 0;
}

/* Succset Container */

div.succset.container {

}


/* Sortable ------------------------------------- */

body.dragging, body.dragging * {
  cursor: move !important;
}


/* Child List (one for each vertex) ------------------------------------- */

ol.succset_list {
  z-index: 110;
  width: 50%;
  margin: 0;
  padding: .1% 0% 5%;
  position:relative;
  }

.succset_list li {
  position: relative;
  padding: 3px 1%;
  margin: 1.5%;
  min-height: 1em;
  font-size: 16px;
  overflow: auto;
  }



  .succset_list li.dragged {
    position:absolute;
    z-index: 30;
    }

  .succset_list li .cover {width: 15%; float:left;margin: 0 2% 0 0;}
  .succset_list li .cover img {width: 100%;}



.succset_list li a.in_set_link {
  display:block;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.succset_list li b.title {
  font-weight: normal;
  display:block;
}

.succset_list li:hover b.title {
  }

.succset_list li.body {
  background-color: #ff8800;
  }

.succset_list li.category {
  background-color: #fff;
  }
  .succset_list li.category .icon {
    width: 16px;
    height:16px;
    }
  .succset_list li.category .title {
    text-indent: 20px;
    }
  .succset_list li.category .icon {
    position:absolute;
    left:1%;
    }


.succset_list li.tag {}
.succset_list li.work {
  background-color: #fff;
  }

.succset_list li.happening {
  background-color: #fff;
  }
  .succset_list li.happening .icon {
    width: 16px;
    height:16px;
    }
  .succset_list li.happening .title {
    text-indent: 20px;
    }
  .succset_list li.happening .icon {
    position:absolute;
    left:1%;
    }


.succset_list li.photo {
  background-color: #fff;
  padding: 0;
  }


.succset_list li.photo img {
  display:block;
  max-width: 100%;
  }

.succset_list li.video {}

/* In Set Menus ------------------------------------- */

.in_set_menu {
  position:absolute;
  top:0;
  right: 0;
  text-align: right;
}

.in_set_menu a {
  display:inline-block;
  padding: 1% 3px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  font-size: 90%;
  background-color: rgba(255,255,255,1);
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  }

.summary .in_set_menu {
  position:relative;
  text-align: left;
  display:block;
}

.summary:hover .in_set_menu {
  display:block;
}

.summary .in_set_menu a {
  display:block;
  margin: 3% 0;
  padding: 1% 3px;
  }

.succset_list li .in_set_menu a.drag_handle {
  display:none;
  z-index: 200;
  padding: 0% 5px 2%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(42,44,57,0.7);
  cursor: move;
  cursor: ns-resize;
}

.delete {
  color: #f00;
  }

.delete:hover {
  background-color: #f00;
  color: #fff;
  }

.update {
  color: #78F7D8;
  }

.update:hover {
  background-color: #78F7D8;
  color: #fff;
  }

/* Succset form ------------------------------------- */

form.succset {
  z-index: 210;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0%;
  margin: 0%;
  background-color: rgba(255,255,255,0.5)
}

form.succset .files_container {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  border-style: none;
  margin: 0;
  padding: 1%;
}

form.succset .over .files_container {
  border: 5px dotted #a3afaf;
}

form.succset .vertex.photo.form .files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

form.succset .file_upload.over .files_container {
}

form.succset .files_container .message {
  font-size: 20px;
  font-style: normal;
  color: #000;
  position:relative;
}

form.succset .over .files_container .message {
  top: 1px;
  left: 1px;
}

form.succset .file_upload input {
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  display: none;
  font-size: 14px;
  font-family: Helvetica, Arial, 'san-serif';
}



/* -------------------------------------------------------------------  */
/* Action Panel */
/* -------------------------------------------------------------------  */


#action_panel form {
  margin: 0 0 .2% 0;
  overflow: visible;
  }


#action_panel label {
  font-size: 11px;
  display:block;
  padding: 1%;
  margin: 1.5% 1.5% 0% 0;
  }

#action_panel .input {
  width: 93%;
  padding: 1%;
  margin: 0% 1.5% 1.5% 0;
  font-size: 14px;
  border-style:none;
  background-color: #fff;
  }

#action_panel .input#title {
  font-size: 34px;
  background-color: transparent;
  }

#action_panel .god_attributes {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px dotted #78f7d8;
  padding: 2%;
  width: 10%;
  color: #f00;
}

#action_panel .god_attributes input[type=checkbox] {
  margin: 2%;
}

#action_panel .save_status {
  margin: 5% 0;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
}

#action_panel .input.save {
  cursor: pointer;
  width: 150px;
  padding: 1%;
  /* margin: 1.5% 1.5% 1.5% 0%; */
  z-index: 500;
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color, transform .5s ease-in-out;
  -webkit-transition: background-color, transform .5s ease-in-out;
  -moz-transition: background-color, transform .5s ease-in-out;
  -o-transition: background-color, transform .5s ease-in-out;
}

#action_panel .input.cancel,
#action_panel .input.close {
  border-style:none;
  cursor: pointer;
  width: 150px;
  padding: 1%;
  margin: 1.5% 1.5% 1.5% 0%;
  z-index: 500;
  font-family: 'Helvetica', 'Arial', 'san-serif';
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color, transform .5s ease-in-out;
  -webkit-transition: background-color, transform .5s ease-in-out;
  -moz-transition: background-color, transform .5s ease-in-out;
  -o-transition: background-color, transform .5s ease-in-out;

}

#action_panel .input.save {
  position:absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #82db8a;
}

#action_panel .input.save.unsaved:hover {
  background-color: #00db14;
}

#action_panel .input.save.unpersisted {display:none;visibility: hidden;}
#action_panel .input.save.unsaved {background-color: #82db8a;}
#action_panel .input.save.saving {background-color: #00db14;cursor: wait;}
#action_panel .input.save.saved {color: #b4c1c1; outline: 1px dotted #b4c1c1; background-color: #fff;cursor: auto;
  transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  }

#action_panel .input.cancel,
#action_panel .input.close {
  color: #333;
  background-color: #ebf4f4;
}

#action_panel .input.cancel:hover,
#action_panel .input.close:hover {
  background-color: #b4c1c1;
  }

#action_panel .input.save.error {background-color: #f00;}


/* File Upload */

#action_panel .file_upload {
  width: 95%;
  padding: 1% 1% 30%;
  margin: 0%;
  position:relative;
}

#action_panel .files_container {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  border: 1px dashed #999;
  margin: 0 0 1.5%;
  padding: 1%;
}

#action_panel .vertex.photo.form .files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

#action_panel .file_upload.over .files_container {
  border-style: solid;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(42, 44, 57, 0.3);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(42, 44, 57, 0.3);
  box-shadow: inset 0px 0px 8px 0px rgba(42, 44, 57, 0.3);
}

#action_panel .files_container .message {
  font-size: 20px;
  font-style: normal;
  color: #000;
  position:relative;
}

#action_panel .over .files_container .message {
  top: 1px;
  left: 1px;
}

#action_panel .file_upload input {
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  display: none;
  font-size: 14px;
  font-family: Helvetica, Arial, 'san-serif';
}

/* Batch */

#action_panel .batch {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  padding: 1% 1% 1%;
  margin: 1.5% 1.5% 1.5%;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1);
  }

#action_panel .batch .batch_count {
  font-size: 24px;
  color: rgba(42, 44, 57, .9);
  opacity: 1;
  display:block;
  padding: 2%;
  text-align: center;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: all .5s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  }

#action_panel .batch:hover .batch_count {
    opacity: 1;
}

#action_panel .batch_item {
  width: 98%;
  height: 20px;
  padding: 1% 1% 1%;
  margin: 1% 0 0;
  font-size: 14px;
  background-color: rgba(42, 44, 57, 0.2);
  color: #fff;
  position:relative;
  }

#action_panel .batch_item.uploaded {
  background-color: rgba(255,255,255,0);
  color: #000;
  }

#action_panel .batch_item.error {
  background-color: #f96625;
  color: #a51000;
  }

/* Batch Creating Edges */

#action_panel .batch_item .label {
  padding: .5% 1%;
  z-index:100;
  }


#action_panel .batch_item .cancel {
  position:relative;
  z-index: 101;
  cursor: pointer;
  display:inline-block;
  padding: .5% 3%;
  }

#action_panel .batch_item.error .cancel {

  }

/* Progres Bar Fill */

#action_panel .progress_bar_fill {
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 0%;
}

/* -------------------------------------------------------------------  */
/* Request Panel Mountains */

#request_panel div.mountain_view {
  width: 100000px;
}

div.mountain_view div.requestlog {
  text-align: left;
  float:left;
  font-size: 10px;
  font-family: "Monaco","Lucida Console","Courier New", "`space";
}

div.mountain_view div.requestlog a {
  display:block;
  width: 2px;
  height: 2px;
  border-width: 1px 0;
  background-color: #838d8d;
  position: relative;
}

div.mountain_view div.requestlog a span.args {
  display:none;
  position:absolute;
  top: 0;
  left: 14px;
  font-size: 12px;
  width: 550px;
}

div.mountain_view div.requestlog a:hover span.args {
  display:block;
  }

div.mountain_view div.requestlog a span {
  display:none;
}

div.mountain_view div.requestlog a.created {
  background-color:#ffff00;
}

div.mountain_view div.requestlog a.registered {

}


div.mountain_view a.executing {
  background-color:#82db8a;
}

div.mountain_view a.delayed {
  background-color:#ffa53f;
}

div.mountain_view a.error {
  background-color:#ff0000;
}

div.mountain_view a.delay {
  background-color:#ffa53f;
}

div.mountain_view a.complete {
  background-color:#7ef20c;
}

div.mountain_view a.unregistered {
  background-color:#fff;
}

#request_panel div.requestlog {
  display:block;
  float: left;
}

#request_panel a {
  display:block;
  padding: 1%;
  background-color:#82db8a;


}
