/* -------------------------------------------------------------------  */
/* Lens Layout */
/* -------------------------------------------------------------------  */

.subject {
  position: fixed;
  top:0;
  bottom:0;
  overflow: hidden;
  transition: all .8s ease-out;
}

#primary_subject {
  left:0;
  width:50%;
}

#secondary_subject {
  left: 100%;
  right:0;
}

.lens {
  overflow: auto;
  position:absolute;
  top: 0;
  bottom:0;
  margin: 0;
  padding: 0;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  transition: all .8s ease-out;
}

#primary_subject .focus.lens {
  z-index: 2;
  width: 250px;
  left: 250px;
  border-right: 1px solid #f5f8f8;
}

#primary_subject .successor.lens {
  z-index: 4;
  right: 0;
  left: 250px;
}

#primary_subject .predecessor.lens {
  z-index: 4;
  left: 0;
  width: 250px;
  border-right: 1px solid #c4cbcb;
}

#secondary_subject .successor.lens {
  z-index:6;
  left:0;
  right:0;
  background: url('https://s3.amazonaws.com/wiota/lime/bricks_lowc_limegrey.png');
}

.succset, .predset {
  z-index: 5;
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }

/* -------------------------------------------------------------------  */
/* Add to Succset */
/* -------------------------------------------------------------------  */

form.succset {
  z-index: 210;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0%;
  margin: 0%;
  background-color: rgba(255,255,255,0.5);
}

form.succset .files_container {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  border-style: none;
  margin: 0;
  padding: 1%;
}

form.succset .over .files_container {
  border: 5px dotted #a3afaf;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
  box-shadow: inset 0px 0px 18px 0px rgba(42, 44, 57, 0.5);
}

form.succset .vertex.photo.form .files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

form.succset .file_upload.over .files_container {
}

form.succset .files_container .message {
  font-size: 20px;
  font-style: normal;
  color: #000;
  position:relative;
}

form.succset .over .files_container .message {
  top: 1px;
  left: 1px;
}

form.succset .file_upload input {
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  display: none;
  font-size: 14px;
  font-family: Helvetica, Arial, 'san-serif';
}



/* -------------------------------------------------------------------  */
/* Action Panel */
/* -------------------------------------------------------------------  */

#action_panel {
  background: url('https://s3.amazonaws.com/wiota/lime/bricks_lowc_limegrey.png') #efecdc;
  z-index: 6;
  overflow: auto;
  margin: 0;
  padding: 0 0% 0 4%;
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all .8s ease-out;
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  perspective: 5000px;
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -o-perspective: 5000px;
}

#action_panel.show {
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

#action_panel form {
  margin: 0;
  overflow: visible;
  }

#action_panel label {
  font-size: 11px;
  }

#action_panel .input {
  transition: all .1s ease;
  border-style:none;
  padding: 1%;
  border-top: 1px solid #d8e8e8;
  font-size: 16px;
  }

#action_panel .input:focus {
  outline: none;
  box-shadow: -5px 5px 0px #ccc;
  /* border-left: 5px dotted #82db8a; */
}

#action_panel .input.changed {
  outline: none;
  box-shadow: -5px 5px 0px #82db8a;
}

#action_panel textarea {
  height: 10em;
}

#action_panel label.title {
  display:none;
  }

#action_panel .input#title {
  padding: 1% 0;
  width: 95%;
  font-size: 34px;
  background-color: transparent;
  border-top: none;
  }
#action_panel .input#title:focus {
  box-shadow: none;
}

#action_panel .god_attributes {
  position:relative;
  width: 440px;
  height: 160px;
  padding: 20px 25px;
  background: #fff url('http://s3.amazonaws.com/wiota/lime/marquee.gif');
}

#action_panel .god_attributes .head {
  display: block;
  margin: 1% 0;
  text-align: left;
  font-style: italic;
  font-size: 12px;
  position:absolute;
  top:20px;
  right: 20px;

}

#action_panel .god_attributes .icon{
  display:inline;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

#action_panel .god_attributes input:disabled {
  opacity: .5;
  border-top:none;
  padding-left: 0;
}

#action_panel .god_attributes label.checkbox {
  display:inline-block;
}

#action_panel .god_attributes input[type=checkbox] {
  margin: 0;
}

#action_panel .save_view {
  width: 500px;
}

/* Save Buttons */

#action_panel .input.button {
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  position:relative;
  font-weight: normal;
  cursor: pointer;
  border-style:none;
  text-align: center;
  padding: 1.5% 0;
  margin: 0 0 1.5% 0%;
  width: 250px;
  }

#action_panel .input.save {
  z-index: 500;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

#action_panel .input.cancel,
#action_panel .input.close {
  z-index: 501;
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transform:translateX(0) rotateY(0deg);
  -webkit-transform:translateX(0) rotateY(0deg);
  -moz-transform:translateX(0) rotateY(0deg);
  -o-transform:translateX(0) rotateY(0deg);
}

#action_panel .input.save {
  color: #82db8a;
  background-color: #fff;
}

#action_panel .unsaved .input.save:hover {
  background-color: #82db8a; color: #fff;
  box-shadow: -5px 5px 0px #ccc;
}

#action_panel .unsaved .input.save {background-color: #fff;}
#action_panel .saving .input.save {background-color: #82db8a; color: #fff;cursor: wait;}
#action_panel .saved .input.save,
#action_panel .unpersisted .input.save {color: #fff; background-color: #b4c1c1;cursor: auto;
  transform:translateX(0) rotateY(180deg);
  -webkit-transform:translateX(0) rotateY(180deg);
  -moz-transform:translateX(0) rotateY(180deg);
  -o-transform:translateX(0) rotateY(180deg);
  }
#action_panel .error .input.save {background-color: #eac828; color: #fff;}



#action_panel .input.cancel,
#action_panel .input.close {
  color: #000;
  background-color: #fff;
}

#action_panel .input.cancel:hover,
#action_panel .input.close:hover {
  color: #000;
  box-shadow: -5px 5px 0px #ccc;
  }

#action_panel .error .input.close:hover {background-color: #eac828; color: #fff;}

/* Cover */

#action_panel .cover_display {
  position: relative;
  width: 250px;
}

#action_panel .cover_display img {
  display:block;
  max-width: 100%;
}

#action_panel .input.remove_cover {
  display:block;
  position:absolute;
  top: 0;
  right: 0;
  background-color: #f00;
  color: #fff;
}

