/* -------------------------------------------------------------------  */
/* Listing Panel */
/* -------------------------------------------------------------------  */

#listing_panel {
  perspective: 5000px;
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -o-perspective: 5000px;
  overflow: hidden;
}

/* ---- */

.ui a {
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

/* Menus ------------------------------------- */

.menu {
  font-family: "Inconsolata","Monaco","Lucida Console","Courier New", "monospace";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
    user-select: none;
}

.menu.open a.switch {
  opacity: 1;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
}

.menu .label {
  font-weight: bold;
}

.menu .icon {
  display:block;
  float:left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 2px 9px 0 0;
}

/* View Menu -------------------------------- */

.view_menu {
  position: absolute;
  margin: 0;
  top:0;
  left: 0;
  width: 100%;
  z-index: 200;
  margin-left: 1%;
}

.view_menu .menu {
  position: relative;
  display:block;
  float:left;
  width: 25%;
  margin-left: 1%;
}

.view_menu .menu b {
}

.view_menu a.switch {
  display: none;
  width: 80%;
  padding: 7px 10% 8px;
}

.view_menu ul {
  opacity: 1;
  width: 100%;
  background-color: #fff;
}

.view_menu li a {
  display:block;
  text-align: left;
  width: 80%;
  padding: 0 10%;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;
  transform-origin: 0 50%;
  height: 0;
  overflow: hidden;
}

.view_menu li.selected a {
  padding: 7px 10% 8px;
  visibility: visible;
  height: 19px;
  opacity: 1;
}

.view_menu ul:hover li a {
  padding: 7px 10% 8px;
  visibility: visible;
  height: 19px;
  opacity: 1;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    2px 2px 10px 0px rgba(100,100,100, .3);
  box-shadow:         2px 2px 10px 0px rgba(100,100,100, .3);
}

.view_menu ul:hover li.selected a {
  padding: 7px 0% 8px 20%;
  z-index: 100;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
}

.view_menu ul li.selected {

}

/* Layout Menu Colors ------------- */

.view_menu .layout a {
  color: #222;
  background-color: #fff;
}

.view_menu .layout ul .selected a {
  color: #222;
  background-color: #eaeaea;
}



/* Mode Menu Colors ------------- */

.view_menu .mode .icon {
  display:none;
}

.view_menu .mode a.add_mode {
  color: #fff;
  background-color: #3abef3;
}

.view_menu .mode a.sort_mode {
  color: #222;
  background-color: #fdfb75;
  /*background-color: #0ee0e7;*/
}

.view_menu .mode a.order_mode {
  color: #222;
  background-color: #ffffff;
}

.view_menu .mode a.remove_mode {
  color: #fff;
  background-color: #f00;
}



/* Action Menu ------------- */

.action_menu {
  position: absolute;
  margin: 0;
  top:0;
  right: 0;
  z-index: 200;
}

.action_menu .menu {
  position: relative;
}

.action_menu a.switch {
  top:0;
  right:0;
  display: block;
  width: 66px;
  height: 36px;
  padding: 15px 0;
  background-color: #ccc;
}


.action_menu a.switch .label {
  display:none;
}

.action_menu a.switch .icon {
  float:none;
  display:block;
  width: 36px;
  height: 36px;
  margin: auto;
}

.action_menu:hover a.switch {
  opacity: .3;
}

.action_menu .open a.switch {
  opacity: 1;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
}


.action_menu ul {
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top:0;
  right: 0;
  opacity: 0;
  width: 200px;
  padding: 10px;
  z-index: 100;
  pointer-events:none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform:translateX(0) rotateY(-180deg);
  -webkit-transform:translateX(0) rotateY(-180deg);
  -moz-transform:translateX(0) rotateY(-180deg);
}

/* Only show action menu if in add mode */
.add_mode .action_menu .open ul {
  pointer-events:auto;
  opacity: 1;
  visibility: visible;
  transform:translateX(0) rotateY(0deg);
  -webkit-transform:translateX(0) rotateY(0deg);
  -moz-transform:translateX(0) rotateY(0deg);
  -webkit-box-shadow: -5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    -5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         -5px 5px 15px 0px rgba(100,100,100, .3);
}

.action_menu li {
  background-color: #fff;
}

.action_menu a {
  display:block;
  height: 18px;
  padding: 7px 5%;
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.action_menu a:hover {
  text-decoration: underline;
}

.action_menu .selected a {
  background: #555;
  color: #fff;
}

.action_menu ul li.selected {
  -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
  -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
  box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
}

.action_menu .add a.switch{
  visibility: hidden;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform:translateX(0) rotateY(-180deg);
  -webkit-transform:translateX(0) rotateY(-180deg);
  -moz-transform:translateX(0) rotateY(-180deg);
}

.add_mode .action_menu .add a.switch{
  visibility: visible;
  pointer-events:auto;
  transform:translateX(0) rotateY(0deg);
  -webkit-transform:translateX(0) rotateY(0deg);
  -moz-transform:translateX(0) rotateY(0deg);
}

.action_menu .add a.switch {
  color: #fff;
  background-color: #3abef3;
  text-align: center;
}

/* Listing ------------------------------------- */

.listing {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* Apex Menu -----------------------------------  */

.home_menu {
  padding: 1% 2%;
  font-size: 60px;
}

.home_menu li {
  clear:left;
  margin: 32px 0;
}
  .home_menu li .icon {
    display:block;
    float:left;
    width: 10%;
    height: 0;
    padding: 0 0 10%;
    margin: 0% 3% 0% 0%;
  }


/* Empty ------------------------------------- */

.empty_succset {
  padding: 0;
  font-style: italic;
  font-size: 110%;
  padding: 66px 0 100px;
  margin: 0 0 0 2%;
}
  .empty_succset h2 {
    font-weight: normal;
    margin: 0 0 10px;
    padding: 10px 0;
  }
  .empty_succset p {
    margin: 0;
    padding: 10px 0;
  }

  .empty_succset .drag,
  .empty_succset .add {
    display:inline-block;
    margin: 0 0 5px;
    width: 100px;
    text-align: right;
  }

  .empty_succset .drag {
    background-color: #f5f8f8;
    border: 3px dotted #ccd5d5;
    padding: 2px;
  }

  .empty_succset .add {
    background-color: #3abef3;
    color: #fff;
    height: 100px;
    padding: 5px;
  }

/* Listing */

.succset_list {
  z-index: 110;
  width: 100%;
  margin: 0;
  position:relative;
  padding: 66px 0 100px;
}

.succset_list li {
  position: relative;
}

  .succset_list li.dragged {
    position:absolute;
    z-index: 30;
  }

  body.dragging, body.dragging li {
    cursor: move !important;
  }

  /* Cover */

  .succset_list li.with_cover .cover {
    width: 100%;
    padding: 0 10px 10px 0;
  }

  .succset_list li.with_cover .cover img {
    width: 100%;
    display: block;

    -webkit-transition: all .3s ease, -webkit-transform .1s ease;
    -moz-transition: all .3s ease, -moz-transform .1s ease;
    transition: all .3s ease, transform .1s ease;

    -webkit-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
    -moz-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
    box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      3px 3px   0 rgba(255, 255, 255, 1.0),
      4px 4px   0 rgba(180, 180, 180, 1.0),
      6px 6px   0 rgba(233, 233, 233, 1.0),
      7px 7px   0 rgba(200, 200, 200, 1.0),
      9px 9px   0 rgba(220, 220, 220, 1.0),
      10px 10px 0 rgba(220, 220, 220, 1.0);
  }

  .succset_list li.with_cover.dragged .cover img {
    width: 100%;
    display: block;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
    -moz-box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
    box-shadow:
      1px 1px   0 rgba(100, 100, 100, 1.0),
      5px 5px   0 rgba(255, 255, 255, 1.0),
      6px 6px   0 rgba(180, 180, 180, 1.0),
      10px 10px   0 rgba(233, 233, 233, 1.0),
      11px 11px   0 rgba(200, 200, 200, 1.0),
      14px 14px 0 rgba(220, 220, 220, 1.0),
      15px 15px 0 rgba(220, 220, 220, 1.0),
      10px 10px 25px 0px rgba(100,100,100, .3);
  }



  .succset_list li.dragged.without_cover .attributes {
  }

  .succset_list li.with_cover .attributes .attribute {
  }

.succset_list li .attributes .icon {
  width: 16px;
  height:16px;
  padding: 4px 0;
  margin-right: 4px;
  float:left;
}

  .succset_list li.with_cover .icon {
    padding: 4px;
  }

.succset_list .attributes .attribute {
  display:block;
  font-weight: normal;
  padding: 4px;
  font-size: 10px;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.succset_list .attribute.primary {
  font-size: 16px;
}

.succset_list .attribute.secondary {
  font-size: 12px;
}

.succset_list .attribute img {
  display:block;
  max-width: 100%;
}

/* List View ------------------------------------- */

.list_view .succset_list {}

.list_view .succset_list li {
  width: 97%;
  margin: 1% 1% 1% 2%;
  padding: 0 0 1%;
  font-size: 16px;
  border-bottom: 1px solid #e3e9ea;
  min-height: 1em;
  clear:both;
  overflow: hidden;
}

  .list_view .succset_list li.dragged {
    border-bottom: none;
    background-color: transparent;
  }


  .list_view .succset_list li .attributes {
    max-width: 600px;
  }

  .list_view .succset_list li.with_cover .cover {
    width: 64px;
    float:left;
  }

  .list_view .succset_list li.with_cover .attributes {
    width: auto;
    margin-left: 84px;
  }

  .succset_list .attributes img {
    display:block;
    max-width: 128px;
  }

/* Grid View ------------------------------------- */

.grid_view .succset_list {
  margin-left: 2%;
}

.grid_view .succset_list li {
  width: 160px;
  height: 160px;
  padding: 0 15px 15px 0;
  display: block; /* Inline-block causes cover animation to fail */
  float:left;
  font-size: 16px;
  background-color: #fff;
  overflow: hidden;
}

  .grid_view .succset_list li.dragged {
    border-bottom: none;
    background-color: transparent;
  }

  .grid_view .succset_list li.photo img {
    display:block;
    max-width: 100%;
    /* How do I make the image fit in the box? */
  }

  /* Overlapping attributes */
.grid_view .succset_list li .attributes {
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

  .grid_view .succset_list li.with_cover .attributes {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    margin: 4%;
    padding: 0;
    width: auto;
    color: #000;
    overflow: hidden;
  }

  .grid_view .succset_list li .attributes .icon {
    width: 16px;
    height:16px;
    padding: 4px;
    margin-right: 4px;
    float:left;
  }

/* ui ------------------------------------- */

.succset_list .ui {
  z-index: 21;
}

  .succset_list .ui a {

  }

  .succset_list .dragged .ui {
    display:none;
  }

  .succset_list a.get {
    display:block;
    position:absolute;
    z-index: 20;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .succset_list a.delete {
    position:absolute;
    top:0;
    right: 0;
    display:block;
    padding: 5px 5%;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform:translateX(0) rotateY(-180deg);
    -webkit-transform:translateX(0) rotateY(-180deg);
    -moz-transform:translateX(0) rotateY(-180deg);
    /* visibility: hidden; */
    opacity: 1;
  }

  .succset_list .delete {
    background-color: #f00;
    color: #fff;
    }

  .succset_list .delete:hover {
    background-color: rgba(255,255,255,1);
    color: #f00;
    }

  .remove_mode .succset_list li a.delete {
    width: 50px;
    visibility: visible;
    opacity: 1;
    transform:translateX(0) rotateY(0deg);
    -webkit-transform:translateX(0) rotateY(0deg);
    -moz-transform:translateX(0) rotateY(0deg);
  }

  .succset_list .ui a.drag_handle {
    display:none;
    visibility:hidden;
    opacity: 0;
  }

  .reorder_mode .succset_list a.drag_handle {
    color: #000;
    background-color: #f5e135;
    font-size: 26px;
    text-decoration: none;
    visibility:visible;
    opacity: 1;
    display: block;
  }

  .succset_list .ui .update {
    display:none;
  }

  .succset_list .ui .set_cover {
    display:none;
  }

/* Summary ------------------------------------- */

.summary {
  z-index: 120;
  position: relative;
  background-color: transparent;
  margin: 5%;
  padding-top: 37px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  }

  .form_open .summary {
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    transform: translateX(110%);
  }

  .summary .attributes {
    padding: 10px 0;
  }

  .summary .attributes:hover {
    cursor: text;
  }

  .summary .attributes .icon {
    width: 24px;
    height:24px;
    padding: 4px 0;
    margin-right: 4px;
    float:left;
    }

  .summary .attributes .attribute {
    display:block;
    font-weight: normal;
    padding: 4px 0;
    font-size: 10px;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .summary .attributes .attribute.primary {
    font-size: 20px;
    text-overflow: ellipsis;
    }

  .summary .attribute.secondary {
    font-size: 14px;
  }

  .summary .cover {width: 100%;}
  .summary .cover img {width: 100%;}

  /* ui */

  .summary .ui {
    clear: both;
    position:absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    }

    .summary .ui a {
      color: #000;
      background-color: rgba(255,255,255,.7);
      padding: 10px 20% 10px 0;
      height: 17px;
      display:block;
      text-align: left;
      width: 80%;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
    }

    .summary .ui a:hover {
      width: 80%;
      padding: 10px 10% 10px 10%;
      -webkit-box-shadow: 5px 5px 15px 0px rgba(100,100,100, .3);
      -moz-box-shadow:    5px 5px 15px 0px rgba(100,100,100, .3);
      box-shadow:         5px 5px 15px 0px rgba(100,100,100, .3);
    }

    /* space for set cover button to sit if there is no cover photo */
    .summary .cover {
      min-height: 27px;
    }

    .summary .set_cover {
      display:block;
      color: #000;
      padding: 5px 10%;

    }

    .summary .ui a.get {
      display:none;
    }

    .summary .ui a.delete {
      display:none;
    }

    .summary .ui a.drag_handle {
      display:none;
    }



