/* -------------------------------------------------------------------  */
/* Lime Account/Admin page styles */
/* -------------------------------------------------------------------  */

.account #display_column {
    line-height: 1.5em;
}

.account .lime_nav .body, .account .lime_nav .happenings {display:none;}

.account .subnav {
  display:block;
}

#display_column .account {margin: 0 5%;}

#display_column .account h2 {margin: 2% 0; font-size: 20px;}

#display_column .account a {font-weight: bold;color: #000;text-decoration: underline; padding: 3px;}
#display_column .account .pro_tip {font-size: 80%;text-decoration: none;}

#display_column .account .toolbar {margin: 2% 0;}
#display_column .account .toolbar a {background-color: #fff;padding: 5px; border: 1px solid #cbdada; display:inline-block; }

#display_column .account .topcon {display:block;margin: 2% 0; width: 16%;}

/* -------------------------------------------------------------------  */
/* Account Panel */
/* -------------------------------------------------------------------  */

.danger {
  color:#f96625 !important;
}

/* stripe */
#stripe-form {
}

#stripe-form div.form-row {
    clear:both;
}

#stripe-form label {
    display:block;
    float:left;
    width:20%;
    padding: 7px;
}

#stripe-form label.error {
    float:left;
    width:40%;
    color:#f96625 !important;
}

#stripe-form input, #stripe-form div.expiry-wrapper {
    font-size: 18pt;
    float:left;
    width:35%;
}

#stripe-form select {
    font-size:18pt;
    border-color:#999;
}

#stripe-form button {
    float:right;
    font-size:18pt;
}

div.help {
    font-size: 16px;
    font-style: italic;
    color: #AAA;
    margin-top: -1em;
    padding-bottom: 1.5em;
}
