/* -------------------------------------------------------------------  */
/* Lime Default Styles */

/*
Body:
  terra cotta: #dd7700
  apricot: #ff8800
  orange cream: #ffa53f
Request:
  meltdown: #00db14,
  jade: #82db8a
Form
  aluminum: #ebf4f4;
  lead: #cbdada;
  magnesium: #4f5555;
Action
  foam: #78F7D8;
  acid: #04e8e8;
shadow color  42,44,57
*/

/* -------------------------------------------------------------------  */

body {margin:0; padding: 0; font-size: 90%; font-family: 'Helvetica', 'Arial', 'san-serif';}
ul, ol {margin: 0; padding:0;list-style-type: none;}
a {text-decoration: none; color: #000;}

/* Forms */

:focus {
  outline: 1px dotted #999;
}

fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

label {
  font-size: 13px;
  display:block;
  padding: 1% 0;
  margin: 1.5% 1.5% 0% 0;
}

input[type='text'],
textarea,
input[type='submit'],
button {
  padding: 1%;
  margin: 0% 1.5% 1.5% 0;
  font-size: 14px;
  border-style:none;
  background-color: #fff;
  border: 1px solid #cbdada;
  }

input[type='text'],
textarea {
  width: 93%;
  /* why this */
  }

/* Flashes */

.admin_flashes {
  z-index: 1001;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 110px;
  font-weight: normal;
  padding: 5%;
  background-color: #78f7d8;
  color: #fff;
  }

/* God */

.god {
  display:none;
}

.godman .god {
  display: block;
}


/* -------------------------------------------------------------------  */
/* Layout */
/* -------------------------------------------------------------------  */

#navigation_column {
  z-index: 2;
  width: 250px;
  background-color: #fff;
  position:fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
}

#display_column {
  background: #f6f7f7 url('https://s3.amazonaws.com/wiota/lime/4grid_light.png');
  background: #f6f7f7 url('https://s3.amazonaws.com/wiota/lime/bricks_lowc_light.png');
  z-index: 4;
  margin: 0 0;
  padding: 0;
  position:fixed;
  top: 0;
  right: 0;
  left: 250px;
  bottom:0;
  overflow: auto;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;

}

#storage_column {
  position:absolute;
  width: 0%;
  }

/* -------------------------------------------------------------------  */
/* Navigation */
/* -------------------------------------------------------------------  */

/* All navigation */

.nav {
  z-index: 1000;
  padding: 1%;
  margin: 0 0 8%;
  border-bottom: 1px solid #f5f8f8;
  overflow: auto;
  width: 98%;
  font-weight: normal;
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  letter-spacing: -1px;
  font-size: 14px;
  }
  .nav:hover {
    -webkit-box-shadow: 0px 0px 120px 0px rgba(42, 44, 57, 0.30);
    -moz-box-shadow:    0px 0px 120px 0px rgba(42, 44, 57, 0.30);
    box-shadow:         0px 0px 120px 0px rgba(42, 44, 57, 0.30);
  }

.nav b {
  font-weight: normal;
  }

.subnav {
  display:none;
  }

.nav li {
  cursor: pointer;
  clear:left;
  width: 90%;
  margin: 0;
  padding: 2% 0 2% 5%;
}

.nav li a:hover {
  text-decoration: underline;
}
  .nav li .icon.over {
    display:none;
    }
  .nav li:hover .icon.over {
    display:block;
    }
  .nav li:hover .out {
    display:none;
    }

.nav .icon {
  display:block;
  float:left;
  width: 12%;
  height: 0;
  padding: 0 0 12% 0;
  margin: 0% 4% 0 0;
  }

.nav .icon svg {
  display:block;
  }

.nav .label {
  display:block;
  padding: 2% 0;
  }

.subnav li {
  padding: 2% 0;
}

/* Account Nav */

.account_nav:hover {
    -webkit-box-shadow: 0px 0px 120px 0px rgba(42, 44, 57, 0.60);
    -moz-box-shadow:    0px 0px 120px 0px rgba(42, 44, 57, 0.60);
    box-shadow:         0px 0px 120px 0px rgba(42, 44, 57, 0.60);
  }

.account_nav li {
  display:block;
  float:left;
  position:relative;
}

.account_nav li.admin .icon {
  transition: all 1s ease;
}

.account_nav li.admin:hover .icon {
  transform: rotate(270deg);
}

/* Lime Nav */

.lime_nav:hover {

}


/* Graph Nav */

.graph_nav {
  /* background-color: #f5f8f8;
  margin: 0;
  padding: 20% 0% 3%;
  overflow: auto;
  list-style-type: none;
  position:absolute;
  z-index: 200;
  top: 0px;
  left: 0;
  right: 0;
  */
}
  .graph_nav:hover {

  }

.graph_nav li {
  cursor: pointer;
  width: 90%;
  margin: 0;
  padding: 5% 5% 2%;
  clear:left;
}

.graph_nav a {
  text-align: left;
  }

.graph_nav li.god {
}




/* -------------------------------------------------------------------  */
/* Login Panel */
/* -------------------------------------------------------------------  */

.fancyform {
  width: 30%;
  padding: 2%;
  margin: 0 auto;
  border-style:none;
  }

.fancyform fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
  }

.fancyform label {
  font-size: 14px;
  display:block;
  padding: 1%;
  margin: 1.5% 1.5% 0%;
  }

.fancyform .input_element input {
  width: 89%;
  padding: 2% 4% 2% 4%;
  margin: 0% 1.5% 1.5%;
  font-size: 22px;
  border-style:none;
  background-color: #f0f0f0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  transition: border-color 1s ease;
}

.fancyform .input_element input:focus {
  outline: 0;
  border-bottom: 4px solid #d0d0d0;
  transition: border-color 1s ease;
}

.fancyform input#submit {
  font-family: "Monaco","Lucida Console","Courier New", "monospace";
  position: relative;
  vertical-align: top;
  width: 97%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(221, 119, 0, 0.5);
  background: #ffa53f;
  border: 0;
  cursor: pointer;
  margin: 5% 1.5% 1.5%;
  border-top: 2px solid #ffa53f;
  border-bottom: 4px solid #ffa53f;
  transition: border-color 1s ease;
}

.fancyform input#submit:focus, .fancyform input#submit:hover {
  outline: 0;
  border-bottom: 4px solid #dd7700;
  transition: border-color 1s ease;
}

.fancyform input#submit:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* msg class */
.msg_display {
  font-family: 'courier', 'monospaced';
  font-size: 12px;
  line-height: 20px;
  overflow: auto;
  background-color:rgba(50,50,50,1);
  color: #fff;
  }

.msg_display a {
  color: #fff;
  }

.msg_display .close {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  }

.msg_display .clear {
  background-color:rgba(0,0,0,0.4);
  color: #fff;
  }

.msg_display .stack {
  display:none;
  background-color:rgba(80,80,80,1);
  padding: 1.5%;
  color: #ffa;
  }

.lime {
  margin: 0% 1.5% 1.5%;
  padding-bottom: 2%;
}

.lime h2 {
  color: #0b2231;
  font: 700 100px/1 "cardo";
  font-style: normal;
  text-indent: 0px;
  margin-bottom: 1.5%;
  z-index: 100;
  border-bottom: 4px solid #000;
}

.lime span {
  font: 400 20px/1.4 "cardo";
  font-style: italic;
  padding-left: 1.5%;
}

.madeby {
  font-size: 12px;
  text-align: center;
  position:fixed;
  bottom:0;
  width:100%;
  padding-bottom: 5%;
}

.madeby img {
  width: 16px;
  vertical-align: middle;
}

.fancyform a, .madeby a, .admin_ui a{
  color: #237ab1;
}

div#forgot_password {
  text-align: right;
  margin: 0% 1.5% 1.5%;
  padding-top:2%;
}

div#forgot_password a {
  color: #237ab1;
}


