.admin_user_menu {
  position:fixed;
  top:.5%;
  right:.5%;
  background: #ea8;
  padding: 5px;
  min-width: 100px;
  }

.admin_user .admin_user_nav {display:none;}
.admin_user:hover .admin_user_nav {display:block;}

.admin_flashes {
  position:fixed; 
  top: 0;
  left: 0;
  bottom: 0; 
  right: 0; 
  font-size: 140px;
  font-weight: normal;
  padding: 10%;
  background-color: #78f7d8;
  color: #fff;
  }