body {margin:0; padding: 0; font-family: 'Helvetica', 'Arial', 'san-serif';}

ul {margin: 0; padding:0;list-style-type: none;}

a {text-decoration: none; color: #000;}

#admin_nav {
  overflow: auto;
  margin: 0;
  }

#admin_nav a {
  display:block;
  float:left;
  margin: .5% 0 .5% .5%;
  padding: .2% .5%;
  background-color: #237ab1;
  color: #fff;
  }

/* Subset Panel */

#subset_panel {
  border: 4px solid #237ab1; overflow: auto;
  margin: .5% .5% .5% .5%;
  min-height: 400px;
  }

/* Listing (one for each subset archtype) */

.listing {}
.category.listing {}
.tag.listing {}
.work.listing {}

/* Summary (one for each subset archtype) */

.summary {
  position: relative;
  background-color: #eee; 
  width: 45%; 
  padding: 1%;
  margin: 1.5%; 
  
  }

.category.listing .summary {
  background-color: #ff0;
  }
.tag.listing .summary {}
.work.listing .summary {}

/* Child List (one for each subset archtype) */

.childlist {
  width: 47%; 
  margin: 1.5%; 
  }

.category.listing .childlist
.tag.listing .childlist {}
.work.listing .childlist {}

/* Child in set (one for each archtype that can be in a set) */

.childlist li {
  position: relative;
  }

.category_in_set {
  background-color: #ff0; 
  padding: 1%;
  margin: 1.5% 0; 
  }

.tag_in_set {}
.work_in_set {
  background-color: #f0f0f0; 
  padding: 1%;
  margin: 1.5% 0; 
  }

.photo_in_set {
  background-color: #fff; 
  margin: 1.5% 0;
  }

  
.photo_in_set img {max-width: 100%;}

.video_in_set {}

/* Overlays */

.child i.info_tag,
.summary i.info_tag {display:none;}
.child:hover i.info_tag,
.summary:hover i.info_tag {display:block;}

i.info_tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  padding: .5%;
  font-size: 12px;
  }
