body {margin:0; padding: 0; font-family: 'Helvetica', 'Arial', 'san-serif';}

ul {margin: 0; padding:0;list-style-type: none;}

a {text-decoration: none; color: #000;}


#admin_nav {
  overflow: auto;
  margin: 0;
  }

#admin_nav a {
  display:block;
  float:left;
  margin: .5% 0 0 .5%;
  padding: 5px .5%;
  background-color: #237ab1;
  color: #fff;
  }

/* Listing Panel */

#listing_panel {
  overflow: auto;
  margin: 2% 0;
  width: 50%;
  min-height: 400px;
  }

/* Action Panel */

#action_panel {
  background-color: #88cbf2;
  overflow: auto;
  margin: 2% 0;
  width: 50%;
  min-height: 400px;
  float:right;
  }

/* -------------------------------------------------------------------  */
/* Listing Panel */

/* Listing (one for each subset archtype) */

.listing {}
.category.listing {}
.tag.listing {}
.work.listing {}

/* Summary (one for each subset archtype) */

.summary {
  position: relative;
  background-color: #eee; 
  width: 95%; 
  padding: 4% 1%;
  margin: 0 1.5% 1.5%; 
  
  }

.portfolio.listing .summary {
  background-color: #fff;
  padding: 0%;
}

.category.listing .summary {
  background-color: #ff0;
  }
.tag.listing .summary {}
.work.listing .summary {}

/* Child List (one for each subset archtype) */

ul.childlist {
  width: 97%; 
  margin: 1.5%; 
  }

.category.listing .childlist
.tag.listing .childlist {}
.work.listing .childlist {}

/* Child in set (one for each archtype that can be in a set) */

.childlist li {
  position: relative;
  }

.category_in_set {
  background-color: #ff0; 
  padding: 1%;
  margin: 1.5% 0; 
  }

.tag_in_set {}
.work_in_set {
  background-color: #f0f0f0; 
  padding: 1%;
  margin: 1.5% 0; 
  }

.photo_in_set {
  background-color: #fff; 
  margin: 1.5% 0;
  }

  
.photo_in_set img {max-width: 100%;}

.video_in_set {}

/* In Set Menus */

.in_set_menu {
  position:absolute;
  width: 40%;
  padding: 1%;
  top:0;
  right: 0;
}

.in_set_menu a {
  display:block;
  float: right;
  padding: .2% 4%;
  margin: 0 0 0 1%;
  cursor: pointer;
  text-decoration: underline;
  background-color: rgba(255,255,255,0.8);
  }

.delete {
  color: #f00;
  }

.delete:hover {
  color: #900;
  }

.update {
  color: #f80;
  }

.update:hover {
  color: #930;
  }



/* Overlays */

.child i.info_tag,
.summary i.info_tag {display:none;}
.child:hover i.info_tag,
.summary:hover i.info_tag {display:none;}

i.info_tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  padding: .5%;
  font-size: 12px;
  }

/* -------------------------------------------------------------------  */
/* Action Panel */

#action_panel label {
  font-size: 10px;
  display:block;
  padding: 1%;
  margin: 1.5% 1.5% .5%;
  }

#action_panel .input {
  width: 95%;
  padding: 1%;
  margin: .5% 1.5%;
  font-size: 14px;
  border-style:none;
  background-color: #fff;
  }
