body {margin:0; padding: 0; font-size: 90%; font-family: 'Helvetica', 'Arial', 'san-serif';}

ul, ol {margin: 0; padding:0;list-style-type: none;}

a {text-decoration: none; color: #000;}

#admin_nav {
  overflow: auto;
  margin: 0;
  }

#admin_nav a {
  display:block;
  float:left;
  margin: 0 0 0 .75%;
  padding: 5px .5%;
  background-color: #237ab1;
  color: #fff;
  }

/* Listing Panel */

#listing_panel {
  margin: 4% 0;
  width: 50%;
  min-height: 400px;
  position:absolute;
  top: 0;
  left: 0;
  }

/* Action Panel */

#action_panel {
  background-color: #88cbf2;
  overflow: auto;
  margin: 4% 0;
  width: 50%;
  position:fixed;
  top: 0;
  right: 0;
  }

/* -------------------------------------------------------------------  */
/* Listing Panel */

/* Listing (one for each vertex) */

.listing {}
.category.listing {}
.tag.listing {}
.work.listing {}

/* Summary (one for each vertex) */

.summary {
  position: relative;
  background-color: #eee;
  width: 95%;
  padding: 4% 1%;
  margin: 0 1.5% 1.5%;
  font-size: 110%;
  }

.portfolio.listing .summary {
  background-color: #fff;
  padding: 0%;
}

.category.listing .summary {
  background-color: #ff0;
  }
.tag.listing .summary {}
.work.listing .summary {}

/* Child List (one for each vertex) */

ol.succset_list {
  width: 97%;
  margin: 1.5%;
  }

.category.listing .succset_list
.tag.listing .succset_list {}
.work.listing .succset_list {}

/* Child in set (one for each archtype that can be in a set) */

.succset_list li {
  position: relative;
  }

.category_in_set {
  background-color: #ff0;
  padding: 1%;
  margin: 1.5% 0;
  }

.tag_in_set {}
.work_in_set {
  background-color: #f0f0f0;
  padding: 1%;
  margin: 1.5% 0;
  }

.photo_in_set {
  background-color: #fff;
  margin: 1.5% 0;
  }


.photo_in_set img {max-width: 100%;}

.video_in_set {}

/* In Set Menus */

.in_set_menu {
  position:absolute;
  width: 40%;
  padding: 1%;
  top:0;
  right: 0;
}

.in_set_menu a {
  display:block;
  float: right;
  padding: .2% 4%;
  margin: 0 0 0 1%;
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  font-size: 90%;
  background-color: rgba(255,255,255,0.8);
  }

.delete {
  color: #f00;
  }

.delete:hover {
  color: #900;
  }

.update {
  color: #f80;
  }

.update:hover {
  color: #930;
  }



/* Overlays */

.successorItem i.info_tag,
.summary i.info_tag {display:none;}
.successorItem:hover i.info_tag,
.summary:hover i.info_tag {display:none;}

i.info_tag {
  position: absolute;
  top: 0;
  left: 0;
  margin-left:100%;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  padding: .5%;
  font-size: 14px;
  }

/* -------------------------------------------------------------------  */
/* Action Panel */

#action_panel label {
  font-size: 11px;
  display:block;
  padding: 1%;
  margin: 1.5% 1.5% 0%;
  }

#action_panel .input {
  width: 95%;
  padding: 1%;
  margin: 0% 1.5% 1.5%;
  font-size: 14px;
  border-style:none;
  background-color: #fff;
  }

#action_panel .input.save,
#action_panel .input.cancel {
  float:left;
  width: 150px;
  padding: 1%;
  margin: 2.5% 0 2.5% 1.5%;
  font-family: 'Helvetica', 'Arial', 'san-serif';
  font-size: 18px;
  font-weight: bold;
}

#action_panel .input.save {
  border-style:none;
  outline:none;
  color: #fff;
  background-color: #237ab1;
}

#action_panel .input.cancel {
  border-style:none;
  color: #333;
  background-color: #eee;
}

#action_panel .files_container {
  position:relative;
  overflow:hidden;
  background-color: #237ab1;
  width: 95%;
  padding: 1% 1% 20%;
  margin: 1.5% 1.5% 1.5%;
}

#action_panel .files_container .message {
  font-size: 60px;
  color: #fff;
  font-style: normal;
}

#action_panel .result {
  width: 95%;
  padding: 1%;
  margin: 1.5% 1.5% 1.5%;
  overflow:auto;
  font-size: 10px;
  font-style: normal;
}

#action_panel .progress_bar {
  position:absolute;
  top:0;
  left:0;
  font-size: 70px;
  color: #237ab1;
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 0%;
}

#action_panel #s3_preview {
  width: 95%;
  padding: 1%;
  margin: 1.5% 1.5% 1.5%;
}

#action_panel #s3_preview img {
  max-width: 100%;
}

#action_panel #files {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%
}

#action_panel input[type=file] {
  border: none;
  font-size: 12px;
  font-family: Helvetica, Arial, 'san-serif';
  padding: 5px;
  margin: 0;
  display: block;
}