{% extends "invoice_base.html" %}
{% block head %}
    <title>Lime - Invoice Details</title>
    {{ super() }}
{% endblock %}
{% block content %}
<h2>Invoice:&nbsp;
{% if invoice.period_start|date == invoice.period_end|date %}
    {{ invoice.period_start|date }}
{% else %}
    {{ invoice.period_start|date }}&nbsp;-&nbsp;{{ invoice.period_end|date }}<br/>
{% endif %}
</h2>
A new invoice has been created with the following charges:<br/>
<br/>
<table>
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="description">Description</th>
      <th class="amount">Amount</th>
  </tr></thead>
  <tbody>
{% for line in invoice.lines.data %}
<tr>
  <td class="date">{{ line.period.start|date }}</td>
  <td class="description">{{ line.description }}</td>
  <td class="amount">{{ line.amount|money }}</td>
<tr>
{% endfor %}
<tfoot>
  <tr>
    <td></td>
    <td class="total">Total:</td>
    <td class="total">{{ invoice.total|money }}</td>
  </tr></tfoot>
</table>
<br/>
<a href="{{ url_for("account.pay_invoice", id=invoice.id) }}">Click here to pay this invoice now</a>.
{% endblock %}
