<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<style type="text/css">
table{
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
width: 100%;
max-width: 500px;
}
</style>
</head>
<body>
This invoice has been paid. Your receipt is below:<br/>
{% if invoice.period_start|date == invoice.period_end|date %}
    {{ invoice.period_start|date }}
{% else %}
    {{ invoice.period_start|date }} - {{ invoice.period_end|date }}<br/>
{% endif %}
<table>
  <thead>
    <tr><th>Description</th>
    <th class="date">Date</th>
    <th class="amount">Amount</th>
  </tr></thead>
  <tbody>
{% for line in invoice.lines.data %}
<tr>
  <td class="description">{{ line.description }}</td>
  <td class="date">{{ line.period.start|date }}</td>
  <td class="amount">{{ line.amount|money }}</td>
<tr>
{% endfor %}
<tfoot>
  <tr>
    <td></td>
    <td class="label">Total:</td>
    <td class="total">{{ invoice.total|money }}</td>
  </tr></tfoot>
</table>
<br/>
</body>
</html>
