{% extends "invoice_base.html" %}
{% block head %}
    <title>Lime - Reciept Details</title>
    {{ super() }}
{% endblock %}
{% block content %}
<h2>Reciept:&nbsp;
{% if invoice.period_start|date == invoice.period_end|date %}
    {{ invoice.period_start|date }}
{% else %}
    {{ invoice.period_start|date }}&nbsp;-&nbsp;{{ invoice.period_end|date }}<br/>
{% endif %}
</h2>
This invoice has been paid. Your receipt is below:<br/>
<br/>
<table>
  <thead>
    <tr><th>Description</th>
    <th class="date">Date</th>
    <th class="amount">Amount</th>
  </tr></thead>
  <tbody>
{% for line in invoice.lines.data %}
<tr>
  <td class="description">{{ line.description }}</td>
  <td class="date">{{ line.period.start|date }}</td>
  <td class="amount">{{ line.amount|money }}</td>
<tr>
{% endfor %}
<tfoot>
  <tr>
    <td></td>
    <td class="label">Total:</td>
    <td class="total">{{ invoice.total|money }}</td>
  </tr></tfoot>
</table>
{% endblock %}
