<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/portphilio/favicon.ico">

    {% block head %}

    <title>Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='{{ url_for('admin.static', filename='css/admin_user.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('admin.static', filename='css/admin_ui.css') }}' type='text/css' media='all' />

    <script src='{{ url_for('admin.static', filename='js/lodash.min.js') }}'></script>
    <script src='{{ url_for('admin.static', filename='js/jquery.min.js') }}'></script>
    <script src='{{ url_for('admin.static', filename='js/flash.js') }}'></script>

    {% endblock %}

    {% block backbone_templates %}

    {% endblock %}

  </head>

  <body>
    {%- block user -%}
    <div class="admin_user_menu">
      {% if current_user.is_anonymous() %}
        <div class='admin_user'>
          <a href="{{ url_for('auth.login') }}">log in</a>
        </div>
      {% else %}
        <div class='admin_user'>
          <b>{{ current_user.email}} </b>
          <div class='admin_user_nav'>
            <ul>
              <li><a href=" {{ url_for('account.account') }} ">Account</a></li>
              <li><a href=" {{ url_for('auth.logout') }} ">Logout</a></li>
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
    {%- endblock -%}


      {% for message in get_flashed_messages() %}
      <div class='admin_flashes'>
          <div class='flash'>{{ message }}</div>
      </div>
      {% endfor %}


    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block js_footer %}{% endblock %}

  </body>
</html>
