{% extends "base.html" %}
{% block content %}
  <h2>Confirm</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('auth.confirm') }}" method=post>
    <dl>
      <dt>{{ form.username.label }}</dt>
      <dd>{{ form.username }}</dd>
      <dt>{{ form.password.label }}</dt>
      <dd>{{ form.password}}</dd>
      <dt>{{ form.confirm.label }}</dt>
      <dd>{{ form.confirm}}</dd>
      <dd><input type=submit value=Submit>
    </dl>
  </form>
{% endblock %}
