{% extends "base.html" %}
{% block head %}
  <title>Admin</title>

  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link rel='stylesheet' href='{{ url_for('admin.static', filename='css/ui.css') }}' type='text/css' media='all' />

  <script src='{{ url_for('admin.static', filename='js/underscore.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/jquery.min.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/backbone.js') }}'></script>

  <!-- Listing -->

  <script type="text/template" id="listing">
    <!-- no use yet -->
  </script>

  <!-- Summary -->

  <script type="text/template" id="category_summary">
      <span class='viewname'>category_summary</span>
      <%= _id %> - <%= slug %> - <%= display_name %>
  </script>

  <script type="text/template" id="work_summary">
      <span class='viewname'>work_summary</span>
      <%= _id %> - <%= slug %> - <%= title %>
  </script>

  <!-- Child -->

  <script type="text/template" id="work_in_set">
      <span class='viewname'>work_in_set</span>
      <a href=''><%= slug %> - <%= name %></a>
  </script>

  <script type="text/template" id="photo_in_set">
      <span class='viewname'>photo_in_set</span>
      <a href='<%= href %>'><%= _id %> - <%= archtype %> - <img src="<%= href %>" alt="" /></a>
  </script>

  <script type="text/template" id="welcome_summary">
    <span class='viewname'>welcome_summary</span><%= message %>
  </script> 
{% endblock %}

{% block content %}
  <div id='admin_nav'>
    <a href='/'>home</a>
    <a href='/#category'>category list</a>
    <a href='/#category/sculpture'>sculpture</a>
    <a href='/#work'>work list</a>
    <a href='/#work/23'>work 23</a>
  </div>

  <div id='subset_panel'></div>
{% endblock %}

{% block js_footer %}
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_models.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/work.js') }}'></script>
{% endblock %}
