{% extends "base.html" %}
{% block head %}

  {{ super() }}

  <script src='{{ url_for('admin.static', filename='js/backbone.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/jquery-ui.custom.min.js') }}'></script>
  </script>

{% endblock %}

{% block backbone_templates %}

  <!-- Summary -->

  <script type="text/template" id="default_summary">
    <div class='default_title'><i class='info_tag'></i><%= _cls %></div>
  </script>

  <script type="text/template" id="portfolio_summary">
    <div class='portfolio_title'>Portfolio</div>
    <div class='in_set_menu'>
      <a class='add_work'>add work</a>
      <a class='add_category'>add category</a>
    </div>
    <i class='info_tag'></i>
  </script>

  <script type="text/template" id="category_summary">
    <div class='category_title'><%= title %>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='add_work'>add work</a>
      <a class='add_category'>add category</a>
    </div>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
  </script>

  <script type="text/template" id="work_summary">
    <div class='work_title'><%= title %></div>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='add_photo'>add photo</a>
    </div>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
  </script>

  <!-- SuccsetItem -->

  <script type="text/template" id="category_in_set">
    <a class='drag_handle'>&#8597;</a>
    <a class='in_set_link' href='#category/<%= _id %>'></a>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
    <b class='title'><%= title %></b>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='delete'>delete</a>
    </div>
  </script>

  <script type="text/template" id="work_in_set">
    <a class='drag_handle'>&#8597;</a>
    <a class='in_set_link' href='#work/<%= _id %>'></a>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
    <b class='title'><%= title %></b>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='delete'>delete</a>
    </div>
  </script>

  <script type="text/template" id="photo_in_set">
    <a class='drag_handle'>&#8597;</a>
    <a class='in_set_link' href='<%= href %>'></a>
    <img src="<%= href %>" alt="" />
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
    <div class='in_set_menu'>
      <a class='delete'>delete</a>
    </div>
  </script>


  <!-- Form tempates -->

  <script type="text/template" id="text">
    <label for='<%= id %>'><%= label %></label><input class='input' type='text' id='<%= id %>' value='<%= value %>' />
  </script>

  <script type="text/template" id="textarea">
    <label for='<%= id %>'><%= label %></label><textarea class='input' id='<%= id %>'><%= value %></textarea>
  </script>

  <script type="text/template" id="button">
    <input class='input <%= cls %>' type='button' value='<%= label %>' />
  </script>

  <script type="text/template" id="update_form">
    <label for='title'>Title</label><input type='text' id='title' value='<%= title %>' />
  </script>

  <script type="text/template" id="s3_image">
    <div class='files_container'>
      <i class='message'>Drop files here</i>
      <input type="file" multiple="multiple" name="files[]" id="files"/>
    </div>
    <div class='result'></div>
    <div id="s3_preview"><img src="" style="" /></div>
  </script>

  <script type="text/template" id="progress_bar">
    <div style='width: <%= width %>%' class='progress_bar_fill'><%= label %></div>
  </script>

{% endblock %}

{% block content %}
  <div id='admin_nav'>
    <a href='/#'>portfolio</a>
    <!--<a href='/#category'>category flat list</a>
    <a href='/#work'>work flat list</a>-->
  </div>


  <div id='action_panel'></div>
  <div id='listing_panel'></div>

{% endblock %}

{% block js_footer %}

  <script src='{{ url_for('admin.static', filename='js/admin_app.js') }}'></script>
  <script type="text/javascript" src='{{ url_for('admin.static', filename='js/s3upload.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_messages.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_models.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_collections.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_form_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_router.js') }}'></script>

  <script src='{{ url_for('admin.static', filename='js/work.js') }}'></script>
{% endblock %}
