{% extends "base.html" %}
{% block head %}

  {{ super() }}

  <script src='{{ url_for('admin.static', filename='js/backbone.js') }}'></script>

{% endblock %}

{% block backbone_templates %}

  <!-- Summary -->

  <script type="text/template" id="default_summary">
    <div class='default_title'><i class='info_tag'></i><%= _cls %></div>
  </script>

  <script type="text/template" id="portfolio_summary">
    <div class='portfolio_title'><i class='info_tag'></i>Welcome</div>
  </script>

  <script type="text/template" id="category_summary">
    <div class='category_title'><%= title %>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='save_order'>save order</a>
      <a class='add_work'>add work</a>
    </div>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
  </script>

  <script type="text/template" id="work_summary">
    <div class='work_title'><%= title %></div>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='save_order'>save order</a>
      <a class='add_photo'>add photo</a>
    </div>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
  </script>

  <!-- SuccsetItem -->

  <script type="text/template" id="category_in_set">
    <a href='#category/<%= _id %>'><i class='info_tag'><%= _cls %> - <%= _id %></i><%= title %></a>
  </script>

  <script type="text/template" id="work_in_set">
    <a href='#work/<%= _id %>'><i class='info_tag'><%= _cls %> - <%= _id %></i><%= title %></a>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='delete'>delete</a>
    </div>
  </script>

  <script type="text/template" id="photo_in_set">
    <a href='<%= href %>'><i class='info_tag'><%= _cls %> - <%= _id %></i><img src="<%= href %>" alt="" /></a>
    <div class='in_set_menu'>
      <a class='delete'>delete</a>
    </div>
  </script>


  <!-- Form tempates -->

  <script type="text/template" id="text">
    <label for='<%= id %>'><%= label %></label><input class='input' type='text' id='<%= id %>' value='<%= value %>' />
  </script>

  <script type="text/template" id="textarea">
    <label for='<%= id %>'><%= label %></label><textarea class='input' id='<%= id %>'><%= value %></textarea>
  </script>

  <script type="text/template" id="button">
    <input class='input <%= cls %>' type='button' value='<%= label %>' />
  </script>

  <script type="text/template" id="update_form">
    <label for='title'>Title</label><input type='text' id='title' value='<%= title %>' />
  </script>

  <script type="text/template" id="s3_image">
    <!-- multiple="multiple" -->
    <div class='files_container'><i class='message'>Drop files here</i><div class='progress_bar'></div><input type="file" name="files[]" id="files"/></div>
    <div class='result'></div>
    <div id="s3_preview"><img src="" style="" /></div>
  </script>

{% endblock %}

{% block content %}
  <div id='admin_nav'>
    <a href='/#'>portfolio</a>
    <!--<a href='/#category'>category flat list</a>
    <a href='/#work'>work flat list</a>-->
  </div>


  <div id='action_panel'></div>
  <div id='listing_panel'></div>

{% endblock %}

{% block js_footer %}

  <script src='{{ url_for('admin.static', filename='js/admin_app.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_models.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_collections.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_form_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_router.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/work.js') }}'></script>
{% endblock %}
