{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="form-group {% if field.errors %}error{% endif %}">
    {{ field.label }}
    <div class="input_element">
      {% if field.name == "body" %}
        {{ field(rows=10, cols=40) }}
      {% else %}
        {{ field() }}
      {% endif %}
      {% if field.errors or field.help_text %}
        <span class="input_help">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endfor %}
<div class='marquee'>
  <input class='input submit' type=submit value='Enter Here'>
  <img src='https://s3.amazonaws.com/wiota/lime/marquee.gif' alt='marquee'>
</div>
{% if ref %}
    <input type="hidden" name=next value={{ ref }}>
{% endif %}

</fieldset>
{% endmacro %}
