{% extends "base.html" %}
{% block head %}

  {{ super() }}

  <script src='{{ url_for('admin.static', filename='js/backbone.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/jquery-ui.custom.min.js') }}'></script>
  </script>

{% endblock %}

{% block backbone_templates %}

  <!-- Summary -->

  <script type="text/template" id="default_summary">
    <div class='default_title'><i class='info_tag'></i><%= _cls %></div>
  </script>

  <script type="text/template" id="portfolio_summary">
    <div class='portfolio_title title'>Portfolio</div>
    <div class='in_set_menu'>
      <a class='add_work'>add work</a>
      <a class='add_category'>add category</a>
    </div>
    <i class='info_tag'></i>
  </script>

  <script type="text/template" id="category_summary">
    <div class='category_title title'><%= title %>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='add_work'>add work</a>
      <a class='add_category'>add category</a>
    </div>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
  </script>

  <script type="text/template" id="work_summary">
    <div class='work_title title'><%= title %></div>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='add_photo'>add photo</a>
    </div>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
  </script>

  <!-- SuccsetItem -->

  <script type="text/template" id="category_in_set">
    <a class='drag_handle'>&#8597;</a>
    <a class='in_set_link' href='#category/<%= _id %>'></a>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
    <b class='title'><%= title %></b>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='delete'>delete</a>
    </div>
  </script>

  <script type="text/template" id="work_in_set">
    <a class='drag_handle'>&#8597;</a>
    <a class='in_set_link' href='#work/<%= _id %>'></a>
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
    <b class='title'><%= title %></b>
    <div class='in_set_menu'>
      <a class='update'>update</a>
      <a class='delete'>delete</a>
    </div>
  </script>

  <script type="text/template" id="photo_in_set">
    <a class='drag_handle'>&#8597;</a>
    <a class='in_set_link' href='<%= href %>'></a>
    <img src="<%= href %>" alt="" />
    <i class='info_tag'><%= _cls %> - <%= _id %></i>
    <div class='in_set_menu'>
      <a class='delete'>delete</a>
    </div>
  </script>


  <!-- Form templates -->

  <script type="text/template" id="text">
    <label for='<%= id %>'><%= label %></label><input class='input' type='text' id='<%= id %>' value='<%= value %>' />
  </script>

  <script type="text/template" id="textarea">
    <label for='<%= id %>'><%= label %></label><textarea class='input' id='<%= id %>'><%= value %></textarea>
  </script>

  <script type="text/template" id="button">
    <input class='input <%= cls %>' type='button' value='<%= label %>' />
  </script>

  <script type="text/template" id="a_button">
    <a class='input <%= cls %>'><%= label %></a>
  </script>

  <script type="text/template" id="update_form2">
    <label for='title'>Title</label><input type='text' id='title' value='<%= title %>' />
  </script>

  <script type="text/template" id="file_upload">

    <div class='files_container'>
      <i class='message'>Drop files here</i>
      <input type="file" multiple="multiple" name="files[]" class="files"/>
    </div>
  </script>

  <script type="text/template" id="html5_file_upload">
    <!--<label for='files'><%= label %></label>-->
    <input type="file" multiple="multiple" name="files[]" class="files"/>
    <div class='files_container'>

      <i class='message'><%= label %></i>
    </div>
  </script>

  <script type="text/template" id="batch">
    <div class='in_batch_menu'>
      <i class='batch_count'><%= batch_count %></i>
      <!--<i class='message'>Predecessor<%= predecessor %></i>-->
      <!--<i class='message'>Nesting<%= nesting %></i>-->
    </div>
    <div class='batch_items'></div>
  </script>

  <script type="text/template" id="batch_item">
    <div style='width: <%= width %>%' class='progress_bar_fill'></div>
    <a class='cancel'>X</a>
    <i class='label'><%= label %></i>
  </script>

  <!-- Action templates -->
  <script type="text/template" id="new_work">
    <a class='new_work'>new work</a>
  </script>

  <script type="text/template" id="new_category">
    <a class='new_category'>new category</a>
  </script>



{% endblock %}

{% block content %}
  <div id='request_panel'></div>
  <div id='path_panel'>
    <div class='path'>
      <a class='vertex body' href='/#'>
        <img class='icon' src='https://s3.amazonaws.com/wiota/lime/home.svg'>
        <b class='label'>home</b>
      </a>
      <a class='vertex back' onclick='javascript: history.go(-1)'>
        <img class='icon' src='https://s3.amazonaws.com/wiota/lime/back.svg'>
        <b class='label'>back</b>
      </a>
    </div>
  </div>
  <div id='action_panel'></div>
  <div id='listing_panel'></div>

{% endblock %}

{% block js_footer %}

  <script src='{{ url_for('admin.static', filename='js/admin_app.js') }}'></script>
  <script type="text/javascript" src='{{ url_for('admin.static', filename='js/s3upload.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_messages.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_models.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_collections.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_form_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_upload_views.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_router.js') }}'></script>
  <script src='{{ url_for('admin.static', filename='js/admin_backbone_request_manager.js') }}'></script>

  <script src='{{ url_for('admin.static', filename='js/work.js') }}'></script>
{% endblock %}
