<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/wiota/lime/lime_16_icon.png">

    {% block head %}

    <title>Lime</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/lime_base.css')|bust }}' type='text/css' media='all'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/lime.css')|bust }}' type='text/css' media='all'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/lime.views.css')|bust }}' type='text/css' media='all'>
    <script src='{{ url_for('static', filename='js/underscore-min.js')|bust }}'></script>
    <script src='{{ url_for('static', filename='js/jquery.min.js')|bust }}'></script>
    <script src='{{ url_for('static', filename='js/backbone.js')|bust }}'></script>
    <script src='{{ url_for('static', filename='js/lime.js')|bust }}'></script>
    <script src='{{ url_for('static', filename='js/icon.js')|bust }}'></script>
    <script src='{{ url_for('static', filename='js/sortable.js')|bust }}'></script>

    {% endblock %}

    {% block backbone_templates %}{% endblock %}

  </head>

  <body>

    {% for message in get_flashed_messages() %}
    <div class='admin_flashes'>
      <div class='flash'>{{ message }}</div>
    </div>
    {% endfor %}


    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block js_footer %}{% endblock %}

  </body>
</html>
