{% extends "base.html" %}
{% from "_forms.html" import render %}
{% block content %}
<div class='login'>
  <div class='lime'>
    <h2>lime</h2>
    <span>Lime binds your work together.</span><br>
  </div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('root.index') }}" method=post>
    {{ render(form) }}
  </form>
  <div id="forgot_password">
    <a href="{{ url_for("root.forgot_password") }}">Forgot your password?</a>
  </div>
</div>
<div class="madeby">Made in Philly with love by <a href="http://www.wiota.co">Wiota Co.</a></div>
{% endblock %}
